@import "variables";

.container {
  width: 100%;
  height: calc(100vh - $header-height + $footer-height);
  padding-top: $header-height;
  display: flex;
  justify-content: center;
}

.container-wrap {
  min-width: $width-1920px-over;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: fit-content;
}

@media (max-width: 1915px) {
  .container-wrap {
    min-width: $width-1920px;
  }
}

@media (max-width: 1440px) {
  .container-wrap {
    min-width: $width-1440px;
  }
}

@media (max-width: 1024px) {
  .container-wrap {
    min-width: $width-1024px;
  }
}
