
// width
$width-1920px: 140px;
$width-1440px: 237px;
$width-1024px: 130px;

// header-height
$header-height: 85px;

// footer-height
$footer-height: 133px;

// width-wrap
$width-1920px-over: 1712px;
$width-1920px: 1385px;
$width-1440px: 952px;
$width-1024px: 712px;

// height-wrap (contents)
$height-1920px-over: 967px;
$height-1920px: 941px;
$height-1440px: 678px;
$height-1024px: 570px;
