.footer {
    width: calc(100% - 160px);
    height: 120px;
    padding: 24px 80px;
}

@media (max-width: 1440px) {
    .footer {
        width: calc(100% - 80px);
        padding: 24px 40px;
    }
}

@media (max-width: 744px) {
    .footer {
        width: calc(100% - 48px);
        padding: 24px 24px;
    }
}