a {
    text-decoration: none;
}

.header {
    width: calc(100% - 160px);
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 0px 80px;
    background-color: white;
    box-shadow: 0px -8px 15px;
}

.header-logo-wrap {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.header-logo {}

.header-nav-bar {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header-nav-bar-category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.header-nav-bar-category__button {
    padding: 8px 16px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

.header-nav-bar-category__button__text {
    color: #0d141c;
    font-size: 1.5rem;
}

.header-nav-bar-category__button:hover {
    background-color: #0d131c;
    /* border: 1px solid #0d131c; */
}

.header-nav-bar-category__button:hover > .header-nav-bar-category__button__text {
    color: white;
}


.header-nav-bar-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.header-nav-bar-icons__button {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav-bar-icons__button:hover {
    background-color: #0d131c;
}

.header-nav-bar-icons__button:hover > svg > path {
    stroke: white;
}

@media (max-width: 1440px) {
    .header {
        width: calc(100% - 80px);
        padding: 0px 40px;
    }
}

@media (max-width: 744px) {
    .header {
        width: calc(100% - 48px);
        padding: 0px 24px;
    }
}

/* color: #0d141c; */