.vpink-light-color { color: #F5F5F5; }
.vpink-lightgray-color { color: #E6E6E6; }
.vpink-gray-color { color: #919191; }
.vpink-dark-color { color: #2E2E2E; }
.vpink-point-color { color: #CC1B4A; }

body {
    background-color: #ffffff;
    --main-bg-color: #ffffff;
    --vpink-light-color: #F5F5F5;
    --vpink-lightgray-color: #E6E6E6;
    --vpink-gray-color: #919191;
    --vpink-dark-color: #2E2E2E;
    --vpink-point-color: #CC1B4A;
}


header {
    position: relative;
}
#vpink-prev-tab {
    position: absolute;
    width: 100%;
    height: 30px;
}




body > hr {
    width: 100%;
    height: 10px;
    background-color: #333333;
    border: none;
    margin-top: 25px;
}



/* 각 부류 타이틀 */
.vpink-custom-div-title {
    font-family: 'Pretendard-SemiBold';
    font-size: 16px;
    color: #F5F5F5;
    margin-bottom: 10px;
    margin-top: 35px;
    width: 100%;
}




/* vpink 샵 이름 */
div.vpink-shop {
    margin-bottom: 28px;
}

div.vpink-shop > div.vpink-star-rate {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.vpink-shop > div.vpink-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.vpink-shop > div.vpink-type > h1 {
    font-family: 'Pretendard-Medium';
    color: var(--vpink-light-color);
    font-size: 24px;
    margin: 0;
}

div.vpink-shop > div.vpink-type > p {
    color: var(--vpink-gray-color);
    font-size: 16px;
    margin-left: 5px;
}

div.vpink-shop > div.vpink-star-rate > p {
    color: var(--vpink-light-color);
    margin: 0 5px;
}












div.vpink-meta-info {
    padding-top: 30px;
    margin: 0;
}

div.vpink-meta-info > div.vpink-main-image {
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

div.vpink-meta-info > div.vpink-main-image > img {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div.vpink-meta-info > div.vpink-main_item-info-list > div {
    position: relative;
    font-family: 'Pretendard-Medium';
    color: var(--vpink-light-color);
    display: flex;
}

div.vpink-meta-info > div.vpink-main_item-info-list > div.vpink-main_item-info-floor::after {
    position: absolute;
    display: block;
    width: 95%;
    border-bottom: 2px solid #333333;
    margin: 3px auto;
    content: "";
}

body > div.vpink-meta-info > div.vpink-main_item-info-list > div > p {
    margin: 10px 5px 5px 5px;
}

body > div.vpink-meta-info > div.vpink-main_item-info-list > div > p > object {
    margin-right: 5px;
}

body > div.vpink-meta-info > div.vpink-main_item-info-list > div > p > a {
    color: var(--vpink-point-color);
    text-decoration: none;
    margin-right: 7px;;
}





/* 알림 파트 */
div.vpink-main_item-info > div.vpink-item-info {
    display: flex;
    align-content: flex-end;
    
}

div.vpink-main_item-info > div.vpink-item-info > p {
    font-family: 'Pretendard-Medium';
    font-size: 14px;
    margin-left: 10px;
    color: var(--vpink-gray-color);
}

div.vpink-main_item-info > div.vpink-item-info > div.more-view {
    margin: auto 0 14px 10px;
}

div.vpink-main_item-info > div.vpink-item-info > div.more-view::after {
    border-top: 1px solid var(--vpink-gray-color);
    border-right: 1px solid var(--vpink-gray-color);
}



/* 스타일리스트 파트 */
div.vpink-main_item-stylelists > div.vpink-stylelist-flex {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

div.vpink-main_item-stylelists > div.vpink-stylelist-flex > div {
    display:inline-block;
    position: relative;
    width: 300px;
    height: 81px;
    border-radius: 5px;
    border: solid #565656 1px;
    overflow: hidden;
    margin-right: 7px;
}

div.vpink-main_item-stylelists > div.vpink-stylelist-flex img {
    position: absolute;
    object-fit: cover;
    width: 81px;
    height: 81px;
}

div.vpink-main_item-stylelists > div.vpink-stylelist-flex > div > div {
    position: absolute;
    left: 91px;
}

div.vpink-main_item-stylelists > div.vpink-stylelist-flex > div > div > .vpink-stylelist-name {
    font-family: 'Pretendard-SemiBold';
    font-size: 16px;
    color: #F5F5F5;
    margin-top: 16px;
    margin-bottom: 11px;
    width: 200px;
}

body > div.vpink-main_item-stylelists > div.vpink-stylelist-flex > div > div > .vpink-stylelist-desc {
    font-family: 'Pretendard-Regular';
    text-overflow: ellipsis;
    color: #919191;
    font-size: 10px;
    overflow: hidden;
    width: 200px;
    height: 25px;
    margin-top: 0;
    margin-right: 10px;
}




/* 일반 가격 파트 */
div.vpink-main_item-costs > ul {
    padding-left: 5px;
}

div.vpink-main_item-costs > ul > li.vpink-cost {
    display: flex;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

div.vpink-main_item-costs > ul > li.vpink-cost > p.vpink-cost-class {
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    color: var(--vpink-lightgray-color);
    width: 64px;
    background-color: var(--main-bg-color);
    z-index: 10;
    margin: 0;
}

div.vpink-main_item-costs > ul > li.vpink-cost > p.vpink-cost-title {
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    padding-right: 10px;
    color: var(--vpink-gray-color);
    background-color: var(--main-bg-color);
    z-index: 10;
    margin: 0;
}

div.vpink-main_item-costs > ul > li.vpink-cost > div.vpink-cost-bar::before {
    position: absolute;
    display: block;
    width: 90%;
    top: 3px;
    left: 30px;
    right: 30px;
    border-bottom: 2px dashed #333333;
    margin: 3px auto;
    content: "";
}

div.vpink-main_item-costs > ul > li.vpink-cost > p.vpink-cost-cost {
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    margin: auto 0 auto auto;
    color: var(--vpink-gray-color);
    background-color: var(--main-bg-color);
    z-index: 10;
    padding-left: 5px;
}





/* 시술 정보 파트 */
.vpink-main_item-styles .vpink-style-containers {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
}
  
.vpink-style {
    flex: 0 0 calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    white-space: nowrap;
  }
  
.vpink-style img {
    max-width: 100%;
    height: auto;
}
  
.vpink-style .vpink-style-class {
    font-family: 'Pretendard-SemiBold';
    color: var(--vpink-light-color);
    margin: 0;
}

.vpink-style .vpink-style-types {
    font-family: 'Pretendard-Regular';
    color: var(--vpink-gray-color);
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    width: 100%;
    margin: 0;
}





/* 방문자 사진 파트 */
.vpink-main_item-visitor-images {
    display: flex;
    flex-wrap: wrap;
}

.vpink-main_item-visitor-images img {
    flex-basis: calc(33.33% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: calc(33.33% - 10px);
    height: auto;
}



/* 방문자 리뷰 */
.vpink-main_item-reviews {
    padding: 10px;
    margin: 10px;
}
  
.vpink-main_item-reviews .vpink-review {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.vpink-main_item-reviews .vpink-review img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.vpink-main_item-reviews .vpink-review-content {
    flex: 1;
}

.vpink-main_item-reviews .vpink-review-info {
    display: flex;
    align-items: center;
}

.vpink-main_item-reviews .vpink-review-name {
    font-family: 'Pretendard-SemiBold';
    font-size: 24px;
    color: var(--vpink-light-color);
    margin: 0;
}

.vpink-main_item-reviews p.vpink-review-date {
    color: var(--vpink-gray-color);
    margin: 0;
    margin-left: 10px;
}

.vpink-main_item-reviews .vpink-review-comment {
    color: var(--vpink-light-color);
    margin: 0;
}




/* 하단 상담하기 버튼 */
.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    padding: 15px;
    z-index: 100;
    border-top: solid 2px #333333;
  }
  
.heart-button {
    background: none;
    border: none;
}

.consult-button {
    background-color: var(--vpink-point-color);
    color: #FFFFFF;
    border: none;
    font-size: 15px;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.con2-button {
    background-color: #03C75A;
    color: #FFFFFF;
    border: none;
    font-size: 15px;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.con3-button {
    background-color: var(--vpink-light-color);
    color: #666666;
    border: none;
    font-size: 15px;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.store-name {
    font-family: 'Pretendard-Regular';
    color: var(--vpink-light-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    margin: 0 10px;
    font-size: 20px;
}