/* color set */
.vpink-light-color { color: #F5F5F5; }
.vpink-lightgray-color { color: #E6E6E6; }
.vpink-gray-color { color: #919191; }
.vpink-dark-color { color: #2E2E2E; }

div.adv-banners {
    position: relative;
    text-align: center;
    margin-top: 55px;
    width: 100%;
    text-align: center;
}

div.adv-banners > a > img {
    width: 90%;
}

body {
    background-color: #ffffff;
}

body > div.profile {
    position: relative;
    margin-top: 95px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > div.profile > div.profile-img {
    position: relative;
    width: 20%;
    height: auto;
}

body > div.profile > div.profile-img > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

body > div.profile > div.profile-img > object {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: solid 1px #E6E6E6;
}

body > div.profile > p {
    font-family: 'Pretendard-SemiBold';
    font-size: 24px;
    color: #FFFFFF;
}

body > div.favorites > p, body > div.receipts > p {
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    margin: 24px;
    margin-bottom: 10px;
}


body > div.favorites > ul, body > div.receipts > ul {
    list-style-type: none;
    padding-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

body > div.favorites > ul > li > a, body > div.receipts > ul > li > a {
    font-family: 'Pretendard-SemiBold';
    font-size: 18px;
    text-decoration: none;
}

body > div.favorites > ul > li, body > div.receipts > ul > li {
    margin-bottom: 7px;
}
