
body {
    background-color: #2B2B2B;
    --main-bg-color: #2B2B2B;
    --vpink-light-color: #F5F5F5;
    --vpink-lightgray-color: #E6E6E6;
    --vpink-gray-color: #919191;
    --vpink-dark-color: #2E2E2E;
    --vpink-point-color: #CC1B4A;
}

.vpink-light-color { color: #F5F5F5; }
.vpink-lightgray-color { color: #E6E6E6; }
.vpink-gray-color { color: #919191; }
.vpink-dark-color { color: #2E2E2E; }


#vpink-stylebook {
    width: 100%;
}

#vpink-stylebook > h1 {
    margin-top: 77px;
    margin-left: 12px;
    font-family: 'Pretendard-SemiBold';
    font-size: 24px;
}

#vpink-stylebook-type-container {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 30px;
}


#vpink-stylebook-type-container::-webkit-scrollbar {
    display: none;
}

#vpink-stylebook-type-container > .vpink-stylebook-type-item {
    width: 70px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

#vpink-stylebook-type-container > .vpink-stylebook-type-item > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 11px;
}

#vpink-stylebook-type-container > .vpink-stylebook-type-item > p {
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    margin: 0;
    margin-top: 23px;
}



#vpink-main-image > img {
    margin-bottom: 50px;
}

#vpink-stylebook > div.vpink-tag-box {
    width: 355px;
    margin: 0 auto;
    margin-bottom: 15px;
}



#vpink-stylebook-type-main {
    position: relative;
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vpink-stylebook-type-main > #vpink-main-image {
    position: relative;


    margin-bottom: 10px;
}

#vpink-stylebook-type-main > #vpink-main-image > img {
    width: 355px;
    height: 355px;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    border-radius: 12px 12px 0 0;
}

#vpink-stylebook-type-main > #vpink-main-image > p {
    font-family: 'Pretendard-SemiBold';
    color: black;
    font-size: 30px;
    position: absolute;
    left: 15px;
    bottom: 50px;
}


#vpink-stylebook > #vpink-stylebook-story {
    display: flex;
    justify-content: center;
    align-items: center;
}

#vpink-stylebook-story > div.stroy-item {
    position: relative;;
}

#vpink-stylebook-story > div.stroy-item > img {
    width: 355px;
    height: 355px;
    border-radius: 12px;
}

#vpink-stylebook-story > div.stroy-item > p {
    font-family: 'Pretendard-SemiBold';
    position: absolute;
    margin-top: 11px;
    font-size: 24px;
    top: 310px;
    left: -1px;
    margin: 0;
    padding: 10px 20px 0px 15px;
    border-radius: 0 15px 0 0;
    background-color: var(--main-bg-color);
}
