/* screen - splashscreen */

.splashscreen {
  background-color: var(--wwwglowpickcomnero);
  cursor: pointer;
  display: flex;
  min-height: 833px;
  min-width: 360px;
  width: 100%;
}

.splashscreen .container {
  background-color: var(--point-color-1);
  display: flex;
  flex-direction: column;
  gap: 262px;
  height: 801px;
  width: 360.0px;
}

.splashscreen .overlap-group1 {
  height: 226px;
  margin-left: 15px;
  margin-top: 51px;
  position: relative;
  width: 345.0px;
}

.splashscreen .splash-title {
  display: flex;
  flex-direction: column;
  gap: 10.8px;
  height: 78px;
  left: 0;
  position: absolute;
  top: 148px;
  width: 296px;
}

.splashscreen .title {
  height: 22.3px;
  margin-left: 22.0px;
  margin-top: 7.9px;
  width: 179.79px;
}

.splashscreen .title-1 {
  height: 21.94px;
  margin-left: 21.2px;
  width: 250.36px;
}

.splashscreen .mainlogo-container {
  height: 148px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 327px;
}

.splashscreen .main-logotitle {
  height: 15px;
  left: 0;
  position: absolute;
  top: 109px;
  width: 219px;
}

.splashscreen .main-logo-img {
  height: 148px;
  left: 179px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 148px;
}

.splashscreen .section {
  display: flex;
  height: 23px;
  margin-left: 37px;
  width: 290px;
}

.splashscreen .splash-title-footer-lift {
  margin-left: 19.8px;
  width: 73.75px;
}

.splashscreen .splash-line {
  height: 20px;
  margin-left: 34.5px;
  margin-top: 3px;
  width: 2px;
}

.splashscreen .splash-title-footer-right {
  margin-left: 32.7px;
  width: 118.39px;
}

.splashscreen .splash-title-footer {
  cursor: pointer;
  height: 14.48px;
  margin-top: 4.8px;
}
