:root { 
  --bright-gray: #3d4149;
  --celeste: #cccccc;
  --cornflower-blue: #579cf026;
  --cornflower-blue-2: #579cf0;
  --eerie-black: #1a1c2001;
  --eerie-black-2: #1a1c20;
  --fuscous-gray: #555555;
  --monsoon: #8a8888;
  --neptune: #6ac1b926;
  --neptune-2: #6ac1b9;
  --nobel: #b9afaf;
  --onyx: #363a3c;
  --oslo-gray: #878d91;
  --point-color-1: #fb5315;
  --punch: #dd3b3b;
  --red-orange: #f3554b;
  --red-orange-2: #f3554b26;
  --shark: #292927;
  --shark-2: #252f2c;
  --title-color: #111111;
  --wild-sand: #f2f4f5;
  --wild-sand-2: #f3f3f3;
  --wwwglowpickcomblack: #000000;
  --wwwglowpickcomnero: #ffffff;
 
  --font-size-l: 15.9px;
  --font-size-m: 14px;
  --font-size-s: 13px;
  --font-size-xs: 12.9px;
  --font-size-xxs: 12px;
  --font-size-xxxs: 11px;
  --font-size-xxxxs: 9.8px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-noto_sans: "Noto Sans", Helvetica;
  --font-family-noto_sans_kr: "Noto Sans KR", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.inter-extra-bold-oslo-gray-9-8px {
  color: var(--oslo-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 800;
}

.inter-normal-oslo-gray-9-8px {
  color: var(--oslo-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-black-14px {
  color: var(--wwwglowpickcomblack);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-eerie-black-14-2px {
  color: var(--eerie-black-2);
  font-family: var(--font-family-inter);
  font-size: 14.2px;
  font-style: normal;
  font-weight: 700;
}

.inter-extra-bold-onyx-12-9px {
  color: var(--onyx);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 800;
}

.inter-normal-eerie-black-14-2px {
  color: var(--eerie-black-2);
  font-family: var(--font-family-inter);
  font-size: 14.2px;
  font-style: normal;
  font-weight: 400;
}

.inter-normal-onyx-12-9px {
  color: var(--onyx);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.notosans-bold-black-13px {
  color: var(--wwwglowpickcomblack);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-neptune-9-2px {
  color: var(--neptune-2);
  font-family: var(--font-family-inter);
  font-size: 9.2px;
  font-style: normal;
  font-weight: 700;
}

.inter-normal-neptune-9-2px {
  color: var(--neptune-2);
  font-family: var(--font-family-inter);
  font-size: 9.2px;
  font-style: normal;
  font-weight: 400;
}

.inter-bold-white-10px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
}

.roboto-medium-black-13px {
  color: var(--wwwglowpickcomblack);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-eerie-black-14-3px {
  color: var(--eerie-black-2);
  font-family: var(--font-family-inter);
  font-size: 14.3px;
  font-style: normal;
  font-weight: 700;
}

.inter-normal-eerie-black-14-3px {
  color: var(--eerie-black-2);
  font-family: var(--font-family-inter);
  font-size: 14.3px;
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-monsoon-11px {
  color: var(--monsoon);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 500;
}

.notosans-bold-celeste-13px {
  color: var(--celeste);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.roboto-semi-bold-black-14px {
  color: var(--wwwglowpickcomblack);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
}

.inter-extra-bold-oslo-gray-11px {
  color: var(--oslo-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 800;
}

.roboto-bold-shark-12px {
  color: var(--shark);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.inter-extra-bold-onyx-12-8px {
  color: var(--onyx);
  font-family: var(--font-family-inter);
  font-size: 12.8px;
  font-style: normal;
  font-weight: 800;
}

.inter-bold-cornflower-blue-9-5px {
  color: var(--cornflower-blue-2);
  font-family: var(--font-family-inter);
  font-size: 9.5px;
  font-style: normal;
  font-weight: 700;
}

.inter-normal-oslo-gray-11px {
  color: var(--oslo-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-shark-12px {
  color: var(--shark);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-onyx-12-8px {
  color: var(--onyx);
  font-family: var(--font-family-inter);
  font-size: 12.8px;
  font-style: normal;
  font-weight: 400;
}

.inter-normal-cornflower-blue-9-5px {
  color: var(--cornflower-blue-2);
  font-family: var(--font-family-inter);
  font-size: 9.5px;
  font-style: normal;
  font-weight: 400;
}

.inter-bold-bright-gray-15-9px {
  color: var(--bright-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.notosans-bold-white-11px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-fuscous-gray-13-8px {
  color: var(--fuscous-gray);
  font-family: var(--font-family-inter);
  font-size: 13.8px;
  font-style: normal;
  font-weight: 400;
}

.inter-bold-licorice-15-9px {
  color: var(--title-color);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}
