:root { 
  --title-color: #111111;
  --wwwglowpickcomblack: #000000;
  --wwwglowpickcomnero: #ffffff;
 
  --font-size-l: 15.9px;
  --font-size-m: 14px;
  --font-size-s: 10px;
  --font-size-xl: 16px;
  --font-size-xxl: 24px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-noto_sans_kr: "Noto Sans KR", Helvetica;
}
