:root { 
  --black: #000000;
  --black-2: #000000cc;
  --cerise-red: #de2e5f;
  --eerie-black: #1a1a1a;
  --fair-pink: #ffe9e9;
  --lily-white: #e9f9ff;
  --mercury: #e6e6e6;
  --mountain-mist: #9b9292;
  --star-dust: #9a9a9a;
  --storm-dust: #616161;
  --white: #ffffff;
  --white-2: #ffffff80;
 
  --font-size-l: 15.9px;
  --font-size-m: 14px;
  --font-size-s: 12px;
  --font-size-xl: 24px;
  --font-size-xs: 11.6px;
  --font-size-xxs: 11px;
  --font-size-xxxs: 10px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-noto_sans_kr: "Noto Sans KR", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
  --font-family-roboto-bold: "Roboto-Bold", Helvetica;
  --font-family-roboto-regular: "Roboto-Regular", Helvetica;
}
.roboto-medium-black-14px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.roboto-regular-normal-eerie-black-12px {
  color: var(--eerie-black);
  font-family: var(--font-family-roboto-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-roboto-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-eerie-black-11-6px {
  color: var(--eerie-black);
  font-family: var(--font-family-roboto-bold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.roboto-medium-mountain-mist-11px {
  color: var(--mountain-mist);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-mountain-mist-12px {
  color: var(--mountain-mist);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.roboto-regular-normal-eerie-black-14px {
  color: var(--eerie-black);
  font-family: var(--font-family-roboto-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-cerise-red-10px {
  color: var(--cerise-red);
  font-family: var(--font-family-roboto-bold);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-eerie-black-10px {
  color: var(--eerie-black);
  font-family: var(--font-family-roboto-bold);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-white-14px {
  color: var(--white-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-star-dust-12px {
  color: var(--star-dust);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-white-10px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 700;
}

.roboto-regular-normal-storm-dust-12px {
  color: var(--storm-dust);
  font-family: var(--font-family-roboto-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
