/* screen - beautestlistmore */

.beautestlistmore {
  background-color: var(--wwwglowpickcomnero);
  display: flex;
  min-height: 1008px;
  min-width: 360px;
  overflow: hidden;
  width: 100%;
}

.beautestlistmore .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 56px;
  min-height: 915px;
  width: 361px;
  z-index: 1;
}

.beautestlistmore .section {
  height: 37px;
  margin-right: 9.95px;
  width: 331px;
}

.beautestlistmore .section-1 {
  display: flex;
  margin-right: 1.03px;
  margin-top: 14px;
  width: 360px;
}

.beautestlistmore .section-2 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 163px;
  justify-content: center;
  padding: 33px 16px 27px;
  position: relative;
  width: 359.97px;
}

.beautestlistmore .divswiper-container {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  margin-left: -1008.02px;
  margin-right: -1008.02px;
  position: relative;
  width: 1336px;
}

.beautestlistmore .text-1 {
  letter-spacing: 0;
  line-height: 14px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.beautestlistmore .section-3 {
  display: flex;
  margin-left: 1.0px;
  margin-top: 15px;
  width: 360px;
}

.beautestlistmore .image {
  height: 686px;
  width: 359px;
}

.beautestlistmore .footer {
  background-color: var(--wwwglowpickcomnero);
  border: 1px solid;
  border-color: #f1f1f1;
  bottom: 0;
  display: flex;
  gap: 50px;
  height: 55px;
  left: calc(50.00% - 180px);
  position: fixed;
  width: 360px;
  z-index: 2;
}

.beautestlistmore .header {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 48px;
  justify-content: flex-start;
  left: 7px;
  min-width: 345px;
  position: fixed;
  top: 0;
  width: auto;
  z-index: 3;
}

.beautestlistmore .button {
  cursor: pointer;
  height: 28px;
  width: 19px;
}

.beautestlistmore .group-11981 {
  display: flex;
  gap: 1.4px;
  margin-left: 101px;
  width: 125px;
}

.beautestlistmore .text-2 {
  height: 28px;
  letter-spacing: -0.20px;
  line-height: 28px;
  white-space: nowrap;
  width: 104.86px;
}

.beautestlistmore .svg {
  height: 17px;
  margin-top: 6px;
  width: 17.01px;
}

.beautestlistmore .notice-btn {
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-left: 49px;
  width: 51px;
}

.beautestlistmore .group-11882 {
  align-items: flex-end;
  display: flex;
  margin-right: 8.0px;
  margin-top: 8px;
  min-width: 27px;
}

.beautestlistmore .overlap-group {
  height: 27px;
  margin-bottom: 0;
  position: relative;
  width: 27px;
}

.beautestlistmore .background {
  background-color: var(--punch);
  border-radius: 8px;
  height: 8px;
  left: 19px;
  position: absolute;
  top: 0;
  width: 8px;
}
