/* screen - leftsidemain */

.leftsidemain {
  background-color: var(--wwwglowpickcomnero);
  display: flex;
  min-height: 3404px;
  min-width: 360px;
  overflow: hidden;
  width: 100%;
}

.leftsidemain .container-1 {
  display: flex;
  flex-direction: column;
  height: 3327px;
  width: 637px;
  z-index: 1;
}

.leftsidemain .section-2 {
  align-items: flex-end;
  display: flex;
  min-width: 360px;
}

.leftsidemain .overlap-group4 {
  height: 554px;
  position: relative;
  width: 360px;
}

.leftsidemain .group-11813 {
  background-image: url(../img/kutti-main-pic@2x.png);
  background-size: 100% 100%;
  height: 459px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 336px;
}

.leftsidemain .rectangle-2862156 {
  background-color: #d3d3d3;
  filter: blur(60px);;
  height: 144px;
  left: 0;
  position: absolute;
  top: 401px;
  width: 360px;
}

.leftsidemain .page-controls {
  align-items: flex-start;
  display: inline-flex;
  gap: 8px;
  left: 136px;
  padding: 16px 0px;
  position: absolute;
  top: 514px;
}

.leftsidemain .form-1 {
  border-radius: 360px;
  width: 32px;
}

.leftsidemain .form {
  border-radius: 4px;
  opacity: 0.38;
  width: 8px;
}

.leftsidemain .section-3 {
  align-items: flex-start;
  display: flex;
  margin-left: 22px;
  margin-top: 39px;
  min-width: 324px;
}

.leftsidemain .overlap-group3 {
  border-radius: 10px;
  height: 93px;
  position: relative;
  width: 324px;
}

.leftsidemain .ellipse-239 {
  left: 219px;
  top: 58px;
}

.leftsidemain .ellipse-241 {
  left: 245px;
  top: 58px;
}

.leftsidemain .rectangle-2862196 {
  background-color: var(--point-color-1);
  border-radius: 10px;
  height: 93px;
  left: 0;
  position: absolute;
  top: 0;
  width: 324px;
}

.leftsidemain .rectangle-2862156-1 {
  background-color: var(--wwwglowpickcomblack);
  border-radius: 20px;
  height: 12px;
  left: 305px;
  position: absolute;
  top: 58px;
  transform: rotate(-45deg);
  width: 3px;
}

.leftsidemain .rectangle-2862157 {
  background-color: var(--wwwglowpickcomblack);
  border-radius: 20px;
  height: 12px;
  left: 305px;
  position: absolute;
  top: 65px;
  transform: rotate(45deg);
  width: 3px;
}

.leftsidemain .ellipse-238 {
  left: 229px;
  top: 59px;
}

.leftsidemain .ellipse-240 {
  left: 255px;
  top: 58px;
}

.leftsidemain .ellipse-237 {
  left: 265px;
  top: 58px;
}

.leftsidemain .ellipse-236 {
  left: 275px;
  top: 58px;
}

.leftsidemain .section-4 {
  align-items: flex-start;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  display: flex;
  margin-left: 16px;
  margin-top: 17px;
  min-width: 621px;
}

.leftsidemain .overlap-group-container {
  height: 422px;
  position: relative;
  width: 621px;
}

.leftsidemain .overlap-group-1 {
  align-items: flex-end;
  background-image: url(../img/20231107-120226-2-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 422px;
  padding: 151.0px 13.4px;
  position: absolute;
  top: 0;
  width: 332px;
}

.leftsidemain .text-217 {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-noto_sans);
  font-size: 25px;
  font-weight: 700;
  height: 42px;
  letter-spacing: -0.60px;
  line-height: 30px;
  margin-top: 64px;
  text-align: right;
  width: 239px;
}

.leftsidemain .in-60 {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  height: 14px;
  letter-spacing: -0.60px;
  line-height: 15px;
  margin-bottom: -1px;
  text-align: right;
  white-space: nowrap;
  width: 239px;
}

.leftsidemain .frame-container {
  left: 6px;
  top: 304px;
  width: 615px;
}

.leftsidemain .frame-427319173 {
  display: flex;
  left: 0;
  top: 0;
  width: 320px;
}

.leftsidemain .link {
  align-items: center;
  background-color: var(--wwwglowpickcomnero);
  display: flex;
  gap: 27px;
  height: 83px;
  margin-left: 9px;
  margin-top: 17px;
  overflow: hidden;
  width: 284px;
}

.leftsidemain .container {
  background-image: url(../img/image-9@2x.png);
  background-size: 100% 100%;
  border-radius: 8px;
  height: 88px;
  margin-top: 5px;
  width: 88px;
}

.leftsidemain .descriptions {
  display: flex;
  height: 57px;
  width: 137px;
}

.leftsidemain .details {
  display: flex;
  flex: 1;
  height: 65px;
  margin-right: -0.2px;
  margin-top: 44px;
}

.leftsidemain .group-11916 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-right: -11.8px;
  margin-top: -45px;
  min-width: calc(100.00% + 12px);
}

.leftsidemain .overlap-group {
  height: 53px;
  position: relative;
  width: 147px;
}

.leftsidemain .details-1 {
  display: flex;
  height: 40px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 147px;
}

.leftsidemain .text-2 {
  color: #212529;
  font-family: var(--font-family-roboto);
  font-size: 13.6px;
  font-weight: 400;
  height: 42px;
  letter-spacing: 0;
  line-height: 21px;
  width: 147px;
}

.leftsidemain .text-2-1 {
  color: var(--point-color-1);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 32px;
  white-space: nowrap;
  width: 79px;
}

.leftsidemain .frame-427319174 {
  display: flex;
  left: 295px;
  top: 0;
  width: 320px;
}

.leftsidemain .section {
  cursor: pointer;
  height: 422px;
  margin-left: 16px;
  margin-top: 22px;
  width: 621px;
}

.leftsidemain .section-1 {
  cursor: pointer;
  height: 422px;
  margin-left: 14px;
  margin-top: 16px;
  width: 623px;
}

.leftsidemain .footer {
  bottom: 0;
  height: 55px;
  left: calc(50.00% - 180px);
  position: fixed;
  width: 360px;
  z-index: 2;
}

.leftsidemain .ellipse {
  height: 20px;
  object-fit: cover;
  position: absolute;
  width: 20px;
}

.leftsidemain .form-2 {
  background-color: var(--shark-2);
  height: 8px;
  position: relative;
}

.leftsidemain .frame {
  height: 118px;
  position: absolute;
}
