/* screen - main */

.main {
  align-items: center;
  background-color: var(--wwwglowpickcomnero);
  border: 1px solid;
  border-color: var(--wwwglowpickcomblack);
  display: flex;
  flex-direction: column;
  height: 6249px;
  overflow: hidden;
  width: 360px;
}

.main .svg {
  align-self: center;
  height: 23px;
  margin-left: -8159px;
  margin-top: 21340px;
  width: 20px;
}

.main .overlap-group14 {
  height: 156px;
  margin-right: 7.0px;
  margin-top: 24px;
  position: relative;
  width: 339px;
}

.main .text-35 {
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 13px;
  white-space: nowrap;
  width: 23px;
}

.main .text-36 {
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: -6px;
  white-space: nowrap;
  width: 23px;
}

.main .text-3 {
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 10px;
  white-space: nowrap;
  width: 34px;
}

.main .text-39 {
  align-self: center;
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: -2px;
  white-space: nowrap;
  width: 34px;
}

.main .text-13 {
  height: 52px;
  letter-spacing: 0;
  line-height: 26px;
  width: 213px;
}

.main .text-136 {
  height: 19px;
  letter-spacing: 0;
  line-height: 19px;
  white-space: nowrap;
}

.main .text-8 {
  letter-spacing: -0.52px;
  line-height: 13px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .x1 {
  height: 75.8px;
  margin-left: -12.56px;
  margin-right: -12.56px;
  width: 68px;
}

.main .item {
  align-items: center;
  align-self: stretch;
  background-color: var(--cultured-pearl);
  border-radius: 8px;
  height: 81px;
  padding: 16px 0px 13px;
  position: relative;
  width: 100%;
}

.main .x1-1 {
  height: 68px;
  margin-left: -10.49px;
  margin-right: -10.49px;
  width: 68px;
}

.main .text-84 {
  color: var(--title-color);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: -0.52px;
  line-height: 13px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .x1-2 {
  height: 68px;
  margin-left: -15.34px;
  margin-right: -15.34px;
  width: 62.69px;
}

.main .x1-3 {
  height: 68px;
  margin-bottom: -30.00px;
  width: 65.66px;
}

.main .itemmargin-1 {
  margin-right: -2.50px;
}

.main .text-40 {
  height: 24px;
  left: 36px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 34px;
  white-space: nowrap;
  width: 143px;
}

.main .overlap-group-8 {
  height: 79px;
  left: 197px;
  position: absolute;
  top: 4px;
  width: 140px;
}

.main .text-41 {
  color: #3d4149;
  font-family: var(--font-family-inter);
  font-size: 10px;
  font-weight: 700;
  height: 16px;
  letter-spacing: -0.20px;
  line-height: 25px;
  margin-left: 1px;
  margin-top: 0;
  white-space: nowrap;
  width: 58px;
}

.main .text-175 {
  height: 23px;
  letter-spacing: -0.64px;
  line-height: 22.4px;
  position: relative;
  white-space: nowrap;
  width: 82px;
}

.main .text-17 {
  letter-spacing: 0;
  line-height: 19.5px;
  margin-bottom: -1.50px;
  margin-top: -3.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.main .text-118 {
  height: 20px;
  letter-spacing: -0.70px;
  line-height: 20px;
  text-shadow: 0px 0.5px 1px #00000066;
  white-space: nowrap;
  width: 43.2px;
}

.main .text-119 {
  height: 47.2px;
  letter-spacing: -0.70px;
  line-height: 23.6px;
  width: 219.48px;
}

.main .text-120 {
  height: 16.5px;
  letter-spacing: 0;
  line-height: 16.5px;
  margin-left: 3px;
  margin-top: 1px;
  white-space: nowrap;
  width: 31.31px;
}

.main .text-121 {
  height: 20px;
  letter-spacing: -0.70px;
  line-height: 20px;
  text-shadow: 0px 0.5px 1px #00000066;
  white-space: nowrap;
  width: 42.81px;
}

.main .originpng {
  background-image: url(../img/origin-png@2x.png);
}

.main .text-122 {
  height: 47.2px;
  letter-spacing: -0.70px;
  line-height: 23.6px;
  width: 217.7px;
}

.main .text-12 {
  height: 16px;
  letter-spacing: -0.50px;
  line-height: 16px;
  margin-left: 20.3px;
  margin-top: 1px;
  white-space: nowrap;
  width: 39.68px;
}

.main .text-124 {
  height: 16.5px;
  letter-spacing: 0;
  line-height: 16.5px;
  margin-left: 3px;
  margin-top: 1px;
  white-space: nowrap;
  width: 27.34px;
}

.main .text-125 {
  height: 20px;
  letter-spacing: -0.70px;
  line-height: 20px;
  text-shadow: 0px 0.5px 1px #00000066;
  white-space: nowrap;
  width: 39.92px;
}

.main .text-127 {
  height: 16.5px;
  letter-spacing: 0;
  line-height: 16.5px;
  margin-left: 3px;
  margin-top: 1px;
  white-space: nowrap;
  width: 36.12px;
}

.main .text-128 {
  height: 20px;
  letter-spacing: -0.70px;
  line-height: 20px;
  text-shadow: 0px 0.5px 1px #00000066;
  white-space: nowrap;
  width: 31.98px;
}

.main .text-129 {
  height: 47.2px;
  letter-spacing: -0.70px;
  line-height: 23.6px;
  width: 211.67px;
}

.main .text-130 {
  height: 16.5px;
  letter-spacing: 0;
  line-height: 16.5px;
  margin-left: 3px;
  margin-top: 1px;
  white-space: nowrap;
  width: 28.89px;
}

.main .img_750jpg {
  justify-content: space-between;
}

.main .badge {
  background-color: var(--white-2);
  height: 25px;
  width: 63px;
}

.main .text-1 {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 0.1px;
  white-space: nowrap;
  width: 199px;
}

.main .text-2 {
  height: 16px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 4px;
  margin-top: 4.5px;
  white-space: nowrap;
  width: 17.53px;
}

.main .text-4 {
  height: 14px;
  left: 0;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 26px;
  white-space: nowrap;
  width: 201px;
}

.main .badge-1 {
  background-color: var(--badgebackground1);
  height: 18px;
  margin-top: 1px;
  width: 41px;
}

.main .text-5 {
  height: 20px;
  letter-spacing: -0.60px;
  line-height: 20px;
  margin-top: -0.5px;
  width: 185.15px;
}

.main .text-6 {
  height: 21px;
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 8px;
  margin-top: 1.0px;
  white-space: nowrap;
  width: 165px;
}

.main .text-7 {
  height: 30px;
  left: 9px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
  width: 27px;
}

.main .img_750jpg-1 {
  align-items: flex-start;
  flex-direction: column;
  gap: 108px;
  padding: 7px 11px;
}

.main .text-9 {
  height: 24px;
  left: 26px;
  letter-spacing: 0;
  line-height: 6px;
  position: absolute;
  top: 0;
  width: 60px;
}

.main .badge-2 {
  background-color: var(--badgebackground1);
  height: 18px;
  margin-bottom: 0.07px;
  width: 41px;
}

.main .text-10 {
  height: 21px;
  letter-spacing: 0;
  line-height: 27px;
  margin-left: 8px;
  margin-top: 3.0px;
  white-space: nowrap;
  width: 152px;
}

.main .overlap-group3-1 {
  align-self: flex-end;
  height: 41px;
  margin-bottom: 0.38px;
  margin-left: 15px;
  position: relative;
  width: 53px;
}

.main .text-11 {
  height: 30px;
  left: 13px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
  width: 27px;
}

.main .overlap-group-6 {
  height: 18px;
  margin-left: 13px;
  margin-top: 1.61px;
  position: relative;
  width: 11px;
}

.main .text-14 {
  letter-spacing: -0.56px;
  line-height: 22.5px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .text-15 {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .text-16 {
  letter-spacing: -0.56px;
  line-height: 16.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .text-91 {
  height: 17px;
  letter-spacing: -0.52px;
  line-height: 17px;
  margin-right: -16.00px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 200px;
}

.main .text-95 {
  height: 38.1px;
  letter-spacing: -0.68px;
  line-height: 19.0px;
  margin-top: -0.5px;
  width: 184.15px;
}

.main .text-96 {
  align-self: stretch;
  letter-spacing: -0.52px;
  line-height: 17px;
  position: relative;
}

.main .text-97 {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 13.9px;
  font-weight: 400;
  letter-spacing: -0.56px;
  line-height: 22.5px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.main .text-100 {
  height: 38.1px;
  letter-spacing: -0.68px;
  line-height: 19.0px;
  margin-top: -0.5px;
  width: 181.28px;
}

.main .text-101 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  display: -webkit-box;
  letter-spacing: -0.52px;
  line-height: 17px;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.main .text-105 {
  color: var(--title-color);
  font-family: var(--font-family-inter);
  font-size: 12.2px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 19.5px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.main .margin-2 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  padding: 2px 0px;
  width: 100%;
}

.main .text-106 {
  color: var(--title-color);
  font-family: var(--font-family-inter);
  font-size: 13.5px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.main .text-107 {
  color: var(--title-color);
  font-family: var(--font-family-inter);
  font-size: 12.4px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 19.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.main .x1_ {
  align-items: flex-end;
  background-color: #797a7a;
  flex-direction: column;
  margin-top: 52px;
  overflow: hidden;
  padding: 17px 0;
  width: 364px;
}

.main .overlap-group-9 {
  align-self: center;
  flex: 0 0 auto;
  height: 30px;
  margin-right: 4.0px;
  margin-top: 2px;
  position: relative;
  width: 328px;
}

.main .text-13-1 {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-roboto);
  font-size: 19.1px;
  font-weight: 700;
  height: 30px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
  width: 308.67px;
}

.main .text-14-2 {
  left: 297px;
  line-height: 22px;
  position: absolute;
  top: 3px;
}

.main .text-18 {
  height: 15px;
  letter-spacing: 0;
  line-height: 15px;
  margin-top: 1px;
  white-space: nowrap;
  width: 55px;
}

.main .text-19 {
  height: 15px;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 1px;
  margin-top: 1px;
  white-space: nowrap;
  width: 37px;
}

.main .text-20 {
  height: 42px;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -0.5px;
  width: 159.89px;
}

.main .text-21 {
  height: 13px;
  letter-spacing: -0.20px;
  line-height: 20px;
  white-space: nowrap;
  width: 62px;
}

.main .text-20-1 {
  height: 13px;
  letter-spacing: -0.20px;
  line-height: 20px;
  margin-top: 3px;
  white-space: nowrap;
  width: 75px;
}

.main .text-3-1 {
  height: 13px;
  letter-spacing: -0.20px;
  line-height: 20px;
  white-space: nowrap;
  width: 46px;
}

.main .text-23-1 {
  height: 19px;
  letter-spacing: -0.20px;
  line-height: 20px;
  white-space: nowrap;
  width: 67px;
}

.main .overlap-group3-2 {
  height: 77px;
  position: relative;
  width: 303px;
}

.main .overlap-group3-3 {
  align-self: flex-end;
  height: 41px;
  margin-bottom: 0.39px;
  margin-left: 15px;
  position: relative;
  width: 53px;
}

.main .divevent__image__element {
  display: flex;
  overflow: hidden;
}

.main .divdetails__terms {
  justify-content: space-between;
}

.main .text-75 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.main .text-76 {
  height: 17px;
  letter-spacing: -0.60px;
  line-height: 17px;
  white-space: nowrap;
  width: 48px;
}

.main .text-77 {
  cursor: pointer;
  height: 17px;
  letter-spacing: -0.60px;
  line-height: 17px;
  white-space: nowrap;
  width: 61px;
}

.main .text-78 {
  align-self: stretch;
  letter-spacing: -0.30px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
}

.main .text-79 {
  align-self: stretch;
  color: #e66161;
  font-family: var(--font-family-noto_sans_kr);
  font-size: 12.9px;
  font-weight: 300;
  letter-spacing: -0.60px;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
}

.main .divevent__image__element-1 {
  background-image: url(../img/div-event--image--element@2x.png);
  background-position: 50% 50%;
  background-size: cover;
}

.main .text-80 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.main .text-81 {
  align-self: stretch;
  color: #ff5b00;
  font-family: var(--font-family-noto_sans_kr);
  font-size: 13px;
  font-weight: 300;
  letter-spacing: -0.60px;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
}

.main .text-108 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 0;
  color: var(--title-color);
  display: -webkit-box;
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: -0.78px;
  line-height: 17.9px;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.main .margin-3 {
  display: flex;
  height: 12px;
  margin-left: -1.42e-14px;
  padding: 0px 0px 0px 2px;
  width: 14px;
}

.main .margin {
  display: inline-flex;
  flex: 0 0 auto;
  padding: 0px 12px 0px 0px;
}

.main .overlap-group-7 {
  height: 247px;
  position: relative;
  width: 148px;
}

.main .x0jpg {
  background-image: url(../img/0-jpg@2x.png);
}

.main .margin-1 {
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 48.01px;
  justify-content: center;
  margin-bottom: -2.01px;
  padding: 0px 6px;
}

.main .text-111 {
  height: 33.12px;
  letter-spacing: -0.32px;
  line-height: 11.0px;
  margin-top: -0.5px;
  width: 70.81px;
}

.main .text-11-1 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  letter-spacing: -0.44px;
  line-height: 20px;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.main .text-109 {
  color: var(--title-color);
  font-family: var(--font-family-noto_sans_kr);
  font-size: 13.8px;
  font-weight: 500;
  height: 19.95px;
  letter-spacing: -0.90px;
  line-height: 20.0px;
  margin-top: -1.0px;
  white-space: nowrap;
  width: 140.76px;
}

.main .text-11-2 {
  letter-spacing: -0.84px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.main .text-115 {
  height: 33.12px;
  letter-spacing: -0.32px;
  line-height: 11.0px;
  margin-top: -0.5px;
  width: 73.12px;
}

.main .text-113 {
  color: var(--title-color);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  height: 39.9px;
  letter-spacing: -0.90px;
  line-height: 20.0px;
  margin-top: -1.0px;
  width: 144.09px;
}

.main .text-117 {
  color: var(--content-color);
  font-family: var(--font-family-inter);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.84px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.main .text-12-1 {
  align-self: flex-start;
  color: var(--title-color);
  font-family: var(--font-family-inter);
  font-size: 19.8px;
  font-weight: 700;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 18px;
  margin-top: 47px;
  white-space: nowrap;
}

.main .text-11-3 {
  color: var(--title-color);
  font-family: var(--font-family-inter);
  font-size: 14.9px;
  font-weight: 500;
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
  width: 86.37px;
}

.main .text-22 {
  height: 15px;
  letter-spacing: 0;
  line-height: normal;
  width: 51.04px;
}

.main .text-4-1 {
  height: 15px;
  letter-spacing: 0;
  line-height: normal;
  width: 51.05px;
}

.main .text-8-1 {
  height: 15px;
  letter-spacing: 0;
  line-height: normal;
  width: 62.08px;
}

.main .text-23 {
  height: 15px;
  letter-spacing: 0;
  line-height: normal;
  width: 40px;
}

.main .text-6-1 {
  height: 15px;
  letter-spacing: 0;
  line-height: normal;
  width: 62.07px;
}

.main .text-10-1 {
  height: 15px;
  letter-spacing: 0;
  line-height: normal;
  width: 39.99px;
}

.main .text-1-6 {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 92.15px;
}

.main .text-2-1 {
  height: 20px;
  letter-spacing: 0;
  line-height: normal;
  width: 200.43px;
}

.main .x1_-1 {
  align-items: flex-start;
  align-self: flex-start;
  background-color: var(--wwwglowpickcomnero);
  margin-top: 69px;
  padding: 10px 23.7px;
  width: 684px;
}

.main .text-138 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 22px;
  min-width: 31px;
  white-space: nowrap;
}

.main .text-1-1 {
  height: 42px;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -0.5px;
  width: 125.32px;
}

.main .text-1-2 {
  height: 21px;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1px;
  white-space: nowrap;
}

.main .text-14-1 {
  height: 21px;
  line-height: 21px;
  margin-left: 3px;
  width: 21px;
}

.main .text-1-3 {
  height: 14px;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 5px;
  margin-top: 2px;
  white-space: nowrap;
  width: 34.78px;
}

.main .text-1-4 {
  height: 21px;
  letter-spacing: 0;
  line-height: 21px;
  margin-left: 3px;
  white-space: nowrap;
  width: 22px;
}

.main .descriptions {
  gap: 4px;
  height: 90px;
}

.main .text-15-1 {
  height: 42px;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -0.5px;
  width: 135.39px;
}

.main .text-16-1 {
  height: 42px;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -0.5px;
  width: 134.26px;
}

.main .text-1-5 {
  height: 42px;
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -0.5px;
  width: 136.03px;
}

.main .overlap-group12 {
  border-radius: 8px;
  height: 84px;
  margin-top: 19px;
  position: relative;
  width: 140px;
}

.main .overlap-group13 {
  border-radius: 8px;
  height: 84px;
  margin-top: 20px;
  position: relative;
  width: 140px;
}

.main .overlap-group11 {
  height: 90px;
  margin-top: 26px;
  position: relative;
  width: 140px;
}

.main .overlap-group9 {
  height: 94px;
  margin-top: 18px;
  position: relative;
  width: 140px;
}

.main .badge-3 {
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.main .divdetails__terms-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.main .divevent__image__element-2 {
  height: 135px;
  position: relative;
  width: 324px;
}

.main .img_750jpg-2 {
  background-image: url(../img/img-750-jpg-4@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 221px;
  width: 331px;
}

.main .itemmargin-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 81px;
  padding: 0px 0px 0px 12px;
  position: relative;
  width: 80px;
}

.main .margin-4 {
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.main .text-14-3 {
  letter-spacing: 0;
  white-space: nowrap;
}

.main .x-2 {
  height: 19px;
  letter-spacing: 0;
  line-height: 19px;
  white-space: nowrap;
}

.main .x1-4 {
  object-fit: cover;
  position: relative;
}

.main .x1_-2 {
  display: flex;
  height: 587px;
  overflow-x: scroll;
}

.main .x2-2 {
  height: 325px;
  margin-left: -67px;
  margin-top: -92px;
  width: 391px;
}
