/* screen - noafstoreinfo */

.noafstoreinfo {
  background-color: var(--wwwglowpickcomnero);
  display: flex;
  min-height: 710px;
  min-width: 360px;
  overflow: hidden;
  width: 100%;
}

.noafstoreinfo .container {
  display: flex;
  flex-direction: column;
  height: 586px;
  margin: 61px auto 0 auto;
  width: 360px;
  z-index: 1;
}

.noafstoreinfo .section {
  align-self: center;
  display: flex;
  justify-content: center;
  margin-left: 1.0px;
  width: 359px;
}

.noafstoreinfo ._ {
  align-items: center;
  gap: 1px;
  height: 151px;
  justify-content: center;
  overflow: hidden;
  padding: 15px 0px;
  width: 359px;
}

.noafstoreinfo .search {
  height: 156px;
  margin-bottom: -17.50px;
  margin-top: -17.50px;
  object-fit: cover;
  position: relative;
  width: 179px;
}

.noafstoreinfo .section-1 {
  align-self: center;
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-top: 30px;
  width: 332px;
}

.noafstoreinfo ._-1 {
  align-items: flex-start;
  gap: 175px;
  height: 24px;
  padding: 0px 10px;
  width: 332px;
}

.noafstoreinfo .frame-427318977 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
}

.noafstoreinfo .text-52 {
  color: var(--wwwglowpickcomblack);
  font-family: var(--font-family-roboto);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.noafstoreinfo .text-53 {
  color: #909090;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.noafstoreinfo .frame-427318976 {
  margin-right: -8.00px;
  position: relative;
  width: 69px;
}

.noafstoreinfo .section-2 {
  display: flex;
  margin-top: 30px;
  width: 360px;
}

.noafstoreinfo .frame-427319092 {
  align-items: flex-end;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #f8f5f5;
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
  height: 82px;
  position: relative;
  width: 360px;
}

.noafstoreinfo .view {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 37px;
  padding: 6px 18px;
  position: relative;
  width: 360px;
}

.noafstoreinfo .style-two-pin-home-streamline-ultimate {
  height: 20px;
  position: relative;
  width: 20px;
}

.noafstoreinfo .frame-427319030 {
  display: flex;
  height: 30px;
  margin-bottom: -5.00px;
  position: relative;
  width: 275px;
}

.noafstoreinfo .x67-57-1-a {
  height: 30px;
  letter-spacing: 0;
  line-height: 15px;
  width: 275px;
}

.noafstoreinfo .view-1 {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  padding: 10px 18px;
  position: relative;
  width: 359px;
}

.noafstoreinfo .image {
  height: 20px;
  position: relative;
  width: 20px;
}

.noafstoreinfo .view-2 {
  display: flex;
  height: 22px;
  position: relative;
  width: 275px;
}

.noafstoreinfo .text-51 {
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  width: 275px;
}

.noafstoreinfo .section-3 {
  display: flex;
  width: 359px;
}

.noafstoreinfo .view-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 17px;
  height: 230px;
  padding: 14px 31px;
  width: 359px;
}

.noafstoreinfo .text-40 {
  letter-spacing: 0;
  line-height: 22px;
  width: 275px;
}

.noafstoreinfo .flex-row-1 {
  gap: 8px;
  height: 160px;
  min-width: 290px;
}

.noafstoreinfo .text-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 34px;
  margin-top: 1px;
  min-height: 78px;
  width: 43px;
}

.noafstoreinfo .text-41 {
  color: #6e6565;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  width: 12px;
}

.noafstoreinfo .text-42 {
  color: #6e6565;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  width: 43px;
}

.noafstoreinfo .flex-col {
  flex-direction: column;
  min-height: 160px;
  width: 239px;
}

.noafstoreinfo .text-container {
  align-items: flex-start;
  display: flex;
  gap: 133px;
  height: 22px;
  min-width: 239px;
}

.noafstoreinfo .text-4 {
  letter-spacing: 0;
  line-height: 22px;
  width: 49px;
}

.noafstoreinfo .text {
  letter-spacing: 0;
  line-height: 22px;
  width: 57px;
}

.noafstoreinfo .flex-row-2 {
  gap: 91px;
  height: 22px;
  margin-top: 13px;
  min-width: 239px;
}

.noafstoreinfo .flex-row {
  gap: 90px;
  height: 22px;
  margin-top: 5px;
  min-width: 239px;
}

.noafstoreinfo .m {
  letter-spacing: 0;
  line-height: 22px;
  width: 95px;
}

.noafstoreinfo .l {
  letter-spacing: 0;
  line-height: 22px;
  width: 95px;
}

.noafstoreinfo .section-4 {
  align-items: flex-start;
  display: flex;
  margin-left: 39px;
  min-width: 283.94px;
}

.noafstoreinfo .overlap-group {
  align-items: center;
  background-color: var(--wwwglowpickcomnero);
  border: 0.5px solid;
  border-color: #00000080;
  border-radius: 5px;
  display: flex;
  height: 39px;
  min-width: 282px;
  padding: 0 51.5px;
}

.noafstoreinfo .text-39 {
  color: #010101;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxs);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  width: 175px;
}

.noafstoreinfo .header {
  background-image: url(../img/----@2x.png);
  background-size: 100% 100%;
  height: 56px;
  left: calc(50.00% - 180px);
  position: fixed;
  top: 0;
  width: 360px;
  z-index: 2;
}

.noafstoreinfo .footer {
  align-items: center;
  background-color: var(--white);
  /* border: 1px solid; */
  border-color: var(--seashell);
  display: flex;
  flex-shrink: 1;
  gap: 50px;
  height: 55px;
  justify-content: center;
  padding: 15px 10px 8px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 999;
}

.footer .vector {
  height: 15.79px;
  position: relative;
  width: 14px;
}

.footer .vector-1 {
  height: 16.39px;
  position: relative;
  width: 16.38px;
}

.footer .carbonplay-outline {
  height: 30px;
  position: relative;
  width: 30px;
}

.footer .vector-2 {
  height: 18px;
  position: relative;
  width: 14px;
}

.footer .vector-3 {
  height: 15px;
  position: relative;
  width: 14px;
}

.noafstoreinfo ._-2 {
  display: flex;
  position: relative;
}

.noafstoreinfo .flex {
  align-items: flex-start;
  display: flex;
}

.noafstoreinfo .flex-row-3 {
  align-items: flex-start;
  display: flex;
}

.noafstoreinfo .s-2 {
  letter-spacing: 0;
  line-height: 22px;
  width: 94px;
}
