/* screen - storesearch */

.storesearch {
  background-color: var(--wwwglowpickcomnero);
  display: flex;
  min-height: 1679px;
  min-width: 360px;
  overflow: hidden;
  width: 100%;
}

.storesearch .container-11 {
  display: flex;
  flex-direction: column;
  height: 1552px;
  margin-top: 57px;
  width: 424.57px;
  z-index: 1;
}

.storesearch .section {
  display: flex;
  flex-direction: column;
  gap: 13px;
  height: 324px;
}

.storesearch .frame-427319057 {
  display: flex;
  width: 424.57px;
}

.storesearch .group-19 {
  display: flex;
  width: 424.57px;
}

.storesearch .frame-427319020 {
  display: flex;
  width: 424.57px;
}

.storesearch .frame-427318972 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  height: 51px;
  padding: 10px;
  position: relative;
  width: 420.57px;
}

.storesearch .frame-427318923 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 11px;
  position: relative;
}

.storesearch .frame-427318922 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 9px;
  position: relative;
}

.storesearch .rectangle-34 {
  background-color: var(--wwwglowpickcomnero);
  border: 1px solid;
  border-color: var(--nobel);
  border-radius: 90px;
  height: 31px;
  position: relative;
  width: 94px;
}

.storesearch .text-187 {
  left: 116px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
  width: 51px;
}

.storesearch .text-188 {
  left: 220px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
  width: 51px;
}

.storesearch .text-189 {
  left: 16px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
  width: 37px;
}

.storesearch .rectangle-34-1 {
  height: 7px;
  left: 68px;
  position: absolute;
  top: 15px;
  width: 15px;
}

.storesearch .rectangle-3477 {
  height: 7px;
  left: 171px;
  position: absolute;
  top: 14px;
  width: 15px;
}

.storesearch .rectangle-3479 {
  height: 7px;
  left: 275px;
  position: absolute;
  top: 14px;
  width: 15px;
}

.storesearch .frame-427318922-1 {
  align-items: flex-start;
  background-color: var(--wwwglowpickcomnero);
  border: 1px solid;
  border-color: var(--nobel);
  border-radius: 90px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  overflow: hidden;
  padding: 7px 10px;
  position: relative;
}

.storesearch .text-190 {
  height: 17px;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 51px;
}

.storesearch .rectangle-3479-1 {
  height: 10.3px;
  margin-right: -10.00px;
  margin-top: -1288.72px;
  position: relative;
  width: 10.3px;
}

.storesearch .frame-427318925 {
  background-image: url(../img/------2024-04-17-201708-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 260px;
  width: 360px;
}

.storesearch .section-1 {
  display: flex;
  margin-left: 16px;
  margin-top: 20px;
  width: 277px;
}

.storesearch .text-186 {
  height: 22px;
  letter-spacing: 0;
  line-height: 22px;
  width: 275px;
}

.storesearch .section-2 {
  display: flex;
  flex-direction: column;
  gap: 21.2px;
  height: 278px;
  margin-top: 69px;
  width: 362px;
}

.storesearch .text-153 {
  height: 18.65px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 17px;
  white-space: nowrap;
  width: 275px;
}

.storesearch .container-12::-webkit-scrollbar {
  display: none;
  width: 0;
}

.storesearch .container-12 {
  display: flex;
  flex: 1;
  gap: 8px;
  margin-right: 2px;
  max-height: 238.16px;
  overflow: hidden;
  overflow-x: scroll;
}

.storesearch .container::-webkit-scrollbar {
  display: none;
  width: 0;
}

.storesearch .container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 281px;
  margin-left: 16px;
  overflow-x: scroll;
  width: 156px;
}

.storesearch .background-border {
  background-color: var(--wild-sand);
  border: 1px solid;
  border-color: var(--eerie-black);
  border-radius: 10px;
  display: flex;
  flex: 1;
  max-height: 156px;
  overflow: hidden;
}

.storesearch .ecbd98eb8-f84_eca084eab2bd_2jpg {
  background-image: url(../img/img-750-jpg-4@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.storesearch .text {
  height: 14px;
  letter-spacing: -0.30px;
  line-height: 14px;
  white-space: nowrap;
  width: 58px;
}

.storesearch .container-1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 36px;
}

.storesearch .text-1 {
  height: 18px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
  width: 153.4px;
}

.storesearch .container-2 {
  display: flex;
  flex: 1;
  margin-right: 115px;
  max-height: 18px;
}

.storesearch .overlay {
  background-color: var(--neptune);
  width: 24.69px;
}

.storesearch .text-2 {
  height: 12px;
  letter-spacing: -0.30px;
  line-height: 12px;
  margin-left: 4px;
  margin-top: 3px;
  white-space: nowrap;
  width: 16.89px;
}

.storesearch .container-3::-webkit-scrollbar {
  display: none;
  width: 0;
}

.storesearch .container-3 {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 281px;
  overflow-x: scroll;
  width: 156px;
}

.storesearch .x8468d086-1b30-4188-b {
  background-image: url(../img/8468d086-1b30-4188-bfd4-ff2f46e83694-1685604978692-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.storesearch .container-4 {
  display: flex;
  flex: 1;
  max-height: 18px;
}

.storesearch .text-3 {
  height: 18px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
  width: 146px;
}

.storesearch .container-5::-webkit-scrollbar {
  display: none;
  width: 0;
}

.storesearch .container-5 {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 281px;
  overflow-x: scroll;
  width: 156px;
}

.storesearch .dde66fb2-9484-411a-8 {
  background-image: url(../img/img-750-jpg-4@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.storesearch .text-4 {
  height: 14px;
  letter-spacing: -0.30px;
  line-height: 14px;
  margin-top: 8px;
  white-space: nowrap;
  width: 37.61px;
}

.storesearch .container-6 {
  display: flex;
  flex: 1;
  margin-top: 8px;
  max-height: 18px;
}

.storesearch .text-5 {
  height: 18px;
  letter-spacing: -0.39px;
  line-height: 18px;
  white-space: nowrap;
  width: 140.34px;
}

.storesearch .text-6 {
  height: 18px;
  letter-spacing: -0.45px;
  line-height: 18px;
  margin-top: 4px;
  white-space: nowrap;
  width: 62.93px;
}

.storesearch .container-7 {
  display: flex;
  flex-direction: column;
  height: 281px;
  width: 156px;
}

.storesearch .ae40c4dd-7547-48c1-b {
  background-image: url(../img/ae40c4dd-7547-48c1-b46c-343d3ed20855-1708764925145-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.storesearch .container-8 {
  display: flex;
  flex: 1;
  margin-top: 8px;
  max-height: 36px;
}

.storesearch .b-c {
  color: var(--onyx);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-weight: 800;
  height: 36px;
  letter-spacing: -0.39px;
  line-height: 18px;
  width: 149.53px;
}

.storesearch .text-7 {
  height: 18px;
  letter-spacing: -0.45px;
  line-height: 18px;
  margin-top: 4px;
  white-space: nowrap;
  width: 69.51px;
}

.storesearch .x627269f5-3f1e-4950-a {
  background-image: url(../img/627269f5-3f1e-4950-ae80-deb9355a630d-1000-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.storesearch .text-8 {
  height: 18px;
  letter-spacing: -0.39px;
  line-height: 18px;
  white-space: nowrap;
  width: 146.08px;
}

.storesearch .text-9 {
  height: 18px;
  letter-spacing: -0.45px;
  line-height: 18px;
  margin-top: 4px;
  white-space: nowrap;
  width: 62.73px;
}

.storesearch .x644b1660-9332-4741-8 {
  background-image: url(../img/644b1660-9332-4741-8f98-ba96ca75883a-1708782795301-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.storesearch .text-10 {
  height: 36px;
  letter-spacing: -0.39px;
  line-height: 18px;
  width: 144.83px;
}

.storesearch .text-11 {
  height: 18px;
  letter-spacing: -0.45px;
  line-height: 18px;
  margin-top: 4px;
  white-space: nowrap;
  width: 69.39px;
}

.storesearch .container-9 {
  display: flex;
  flex: 1;
  margin-top: 6px;
  max-height: 18px;
}

.storesearch .x0f85632b-208a-48e7-8 {
  background-image: url(../img/0f85632b-208a-48e7-8f9e-cab24727184c-1000-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.storesearch .text-12 {
  height: 18px;
  letter-spacing: -0.39px;
  line-height: 18px;
  white-space: nowrap;
  width: 71.09px;
}

.storesearch .text-13 {
  height: 18px;
  letter-spacing: -0.45px;
  line-height: 18px;
  margin-top: 4px;
  white-space: nowrap;
  width: 69.56px;
}

.storesearch .x0e204e8e-12bb-41ba-b {
  background-image: url(../img/0e204e8e-12bb-41ba-b4fa-2e96ec188fda-1708327738476-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.storesearch .text-14 {
  height: 18px;
  letter-spacing: -0.39px;
  line-height: 18px;
  white-space: nowrap;
  width: 116.22px;
}

.storesearch .text-15 {
  height: 18px;
  letter-spacing: -0.45px;
  line-height: 18px;
  margin-top: 4px;
  white-space: nowrap;
  width: 62.75px;
}

.storesearch .container-10 {
  display: flex;
  flex: 1;
  gap: 4px;
  margin-top: 6px;
  max-height: 18px;
}

.storesearch .overlay-1 {
  background-color: var(--cornflower-blue);
  width: 30.08px;
}

.storesearch .b28aff1d-fa5e-4b30-8 {
  background-image: url(../img/b28aff1d-fa5e-4b30-82e5-a422b54d12e2-1694670398868-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.storesearch .text-16 {
  height: 18px;
  letter-spacing: -0.39px;
  line-height: 18px;
  white-space: nowrap;
  width: 119.08px;
}

.storesearch .text-17 {
  height: 18px;
  letter-spacing: -0.45px;
  line-height: 18px;
  margin-top: 4px;
  white-space: nowrap;
  width: 62.72px;
}

.storesearch .background {
  background-color: var(--red-orange);
  border-radius: 4px;
  display: flex;
  height: 18px;
  width: 43.38px;
}

.storesearch .text-1-1 {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 9.4px;
  font-weight: 700;
  height: 12px;
  letter-spacing: -0.30px;
  line-height: 12px;
  margin-left: 4px;
  margin-top: 3px;
  white-space: nowrap;
  width: 35.58px;
}

.storesearch .overlay-2 {
  background-color: var(--red-orange-2);
  width: 27.95px;
}

.storesearch .hot {
  font-weight: 700;
}

.storesearch .x1d50e519-06c7-4ccf-b {
  background-image: url(../img/1d50e519-06c7-4ccf-bec8-5469df0fbe22-1708916795143-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.storesearch .text-18 {
  height: 18px;
  letter-spacing: -0.45px;
  line-height: 18px;
  margin-top: 4px;
  white-space: nowrap;
  width: 62.47px;
}

.storesearch .section-3 {
  display: flex;
  flex-direction: column;
  gap: 20.7px;
  height: 272px;
  margin-top: 2px;
  width: 362px;
}

.storesearch .text-120 {
  color: var(--wwwglowpickcomblack);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 18.24px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 17px;
  white-space: nowrap;
  width: 275px;
}

.storesearch .container-13::-webkit-scrollbar {
  display: none;
  width: 0;
}

.storesearch .container-13 {
  display: flex;
  flex: 1;
  gap: 8px;
  margin-right: 2px;
  max-height: 233.02px;
  overflow: hidden;
  overflow-x: scroll;
}

.storesearch .b-c-1 {
  font-weight: 400;
}

.storesearch .text-19 {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 9.4px;
  font-weight: 400;
  height: 12px;
  letter-spacing: -0.30px;
  line-height: 12px;
  margin-left: 4px;
  margin-top: 3px;
  white-space: nowrap;
  width: 35.58px;
}

.storesearch .hot-1 {
  font-weight: 400;
}

.storesearch .section-4 {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 21.6px;
  margin-right: 62.6px;
  margin-top: 2px;
  max-height: 283px;
}

.storesearch .text-119 {
  height: 18.98px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 19px;
  white-space: nowrap;
  width: 275px;
}

.storesearch .container-14::-webkit-scrollbar {
  display: none;
  width: 0;
}

.storesearch .container-14 {
  display: flex;
  flex: 1;
  gap: 8px;
  margin-right: 2px;
  max-height: 242.45px;
  overflow: hidden;
  overflow-x: scroll;
}

.storesearch .b-c-2 {
  font-weight: 800;
}

.storesearch .hot-2 {
  font-weight: 700;
}

.storesearch .section-5 {
  display: flex;
  flex-direction: column;
  gap: 19.6px;
  height: 278px;
  margin-top: 2px;
  width: 362px;
}

.storesearch .text-54 {
  color: var(--wwwglowpickcomblack);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 17.23px;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 17px;
  white-space: nowrap;
  width: 275px;
}

.storesearch .container-15::-webkit-scrollbar {
  display: none;
  width: 0;
}

.storesearch .container-15 {
  display: flex;
  flex: 1;
  gap: 8px;
  margin-right: 2px;
  max-height: 241.19px;
  overflow: hidden;
  overflow-x: scroll;
}

.storesearch .b-c-3 {
  font-weight: 400;
}

.storesearch .hot-3 {
  font-weight: 400;
}

.storesearch .footer {
  bottom: 0;
  height: 55px;
  left: calc(50.00% - 180px);
  position: fixed;
  width: 360px;
  z-index: 2;
}

.storesearch .header {
  background-color: white;
  display: flex;
  height: 56px;
  justify-content: center;
  left: calc(50.00% - 180px);
  position: fixed;
  top: 0;
  width: 360px;
  z-index: 3;
}

.storesearch .view {
  align-items: center;
  display: flex;
  height: 56px;
  padding: 0 7px;
  width: 360px;
}

.storesearch .button {
  cursor: pointer;
  height: 28px;
  margin-left: 4px;
  width: 18px;
}

.storesearch .txt {
  display: flex;
  gap: 1.8px;
  margin-left: 93px;
  width: 118px;
}

.storesearch .location-txt {
  height: 28px;
  letter-spacing: -0.20px;
  line-height: 28px;
  white-space: nowrap;
  width: 98.65px;
}

.storesearch .svg {
  height: 17px;
  margin-top: 6px;
  width: 16px;
}

.storesearch .button-1 {
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-left: 65px;
  width: 48px;
}

.storesearch .group-11882 {
  align-items: flex-end;
  display: flex;
  margin-right: 8px;
  margin-top: 8px;
  min-width: 24px;
}

.storesearch .overlap-group {
  height: 27px;
  margin-bottom: 0;
  position: relative;
  width: 24px;
}

.storesearch .background-1 {
  background-color: var(--punch);
  border-radius: 8px;
  height: 8px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 8px;
}

.storesearch .b-c-4 {
  color: var(--onyx);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  height: 36px;
  letter-spacing: -0.39px;
  line-height: 18px;
  width: 149.53px;
}

.storesearch .dde66fb2-9484-411a-8-4 {
  background-image: url(../img/img-750-jpg-4@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.storesearch .ecbd98eb8-f84_eca084eab2bd_2jpg-4 {
  background-image: url(../img/img-750-jpg-4@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.storesearch .hot-4 {
  color: var(--red-orange);
  font-family: var(--font-family-inter);
  font-size: 9.5px;
  height: 12px;
  letter-spacing: -0.30px;
  line-height: 12px;
  margin-left: 4px;
  margin-top: 3px;
  white-space: nowrap;
  width: 20.15px;
}

.storesearch .new-8 {
  height: 12px;
  letter-spacing: -0.30px;
  line-height: 12px;
  margin-left: 4px;
  margin-top: 3px;
  white-space: nowrap;
  width: 22.28px;
}

.storesearch .overlay-3 {
  border-radius: 4px;
  display: flex;
  height: 18px;
}

.footer {
  align-items: center;
  background-color: var(--white);
  /* border: 1px solid; */
  border-color: var(--seashell);
  display: flex;
  flex-shrink: 1;
  gap: 50px;
  height: 55px;
  justify-content: center;
  padding: 15px 10px 8px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 999;
}

.footer .vector {
  height: 15.79px;
  position: relative;
  width: 14px;
}

.footer .vector-1 {
  height: 16.39px;
  position: relative;
  width: 16.38px;
}

.footer .carbonplay-outline {
  height: 30px;
  position: relative;
  width: 30px;
}

.footer .vector-2 {
  height: 18px;
  position: relative;
  width: 14px;
}

.footer .vector-3 {
  height: 15px;
  position: relative;
  width: 14px;
}

.storesearch.header {
  display: flex;
  height: 45px;
  justify-content: flex-end;
  width: 360px;
  z-index: 10;
}

.storesearch .section {
  align-items: flex-start;
  display: flex;
  height: 29.72px;
  /* height: 100vh; */
  margin-right: 11.6px;
  margin-top: 8px;
  /* min-width: 337.37px; */
  flex-direction: column;
  gap: unset;
}

.header .section {
  flex-direction: unset;
}

.storesearch .prev_btn {
  cursor: pointer;
  height: 28px;
  width: 23px;
}

.storesearch .location_txt {
  align-items: center;
  display: flex;
  margin-left: 95px;
  margin-top: 0;
  min-width: 121px;
}

.storesearch .txt {
  color: #3d4149;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 28px;
  letter-spacing: -0.20px;
  line-height: 28px;
  white-space: nowrap;
  width: 99px;
  margin-left: 0px;
}

.storesearch .location_more {
  height: 17px;
  margin-bottom: 1.0px;
  width: 20px;
  margin-left: 5px;
}

.storesearch .alarm_btn {
  align-self: flex-end;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  margin-bottom: 0;
  margin-left: 71px;
  overflow: hidden;
  width: 28px;
}

.storesearch .alarm_ico {
  display: flex;
  height: 29px;
  justify-content: space-between;
  margin-right: 0px;
  width: 28px;
}

.storesearch .ico {
  align-self: center;
  height: 23px;
  margin-top: 6.0px;
  width: 20px;
}

.storesearch .point {
  background-color: #dd3b3b;
  border-radius: 8px;
  height: 8px;
  width: 8px;
}

.storesearch .container-11 .section {
  height: 100vh;
}