@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:700|Roboto:500,400,700,600|Inter:900,400,600,800,500,700|Noto+Sans+KR:300,700,500");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/665810ad7268293560ae3c88.662a7639d3e501d409691011.uTt0Ppg.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.group-11822 {
  align-items: flex-start;
  display: flex;
  height: 25.57px;
  min-width: 18.82px;
  padding: 0 1.9px;
  transform: rotate(180deg);
}

.back-btn {
  cursor: pointer;
  display: flex;
  height: 26px;
  width: 19px;
}

.rectangle {
  background-color: var(--wwwglowpickcomblack);
  border-radius: 20px;
  height: 21px;
  left: 6px;
  position: absolute;
  width: 3px;
}

.container::-webkit-scrollbar {
  display: none;
  width: 0;
}

.x8468d086-1b30-4188-b {
  background-image: url(../img/8468d086-1b30-4188-bfd4-ff2f46e83694-1685604978692-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.container-6::-webkit-scrollbar {
  display: none;
  width: 0;
}

.ae40c4dd-7547-48c1-b {
  background-image: url(../img/ae40c4dd-7547-48c1-b46c-343d3ed20855-1708764925145-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.b-c {
  height: 36px;
  letter-spacing: -0.39px;
  line-height: 18px;
  width: 149.53px;
}

.x627269f5-3f1e-4950-a {
  background-image: url(../img/627269f5-3f1e-4950-ae80-deb9355a630d-1000-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.x644b1660-9332-4741-8 {
  background-image: url(../img/644b1660-9332-4741-8f98-ba96ca75883a-1708782795301-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.x0f85632b-208a-48e7-8 {
  background-image: url(../img/0f85632b-208a-48e7-8f9e-cab24727184c-1000-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.x0e204e8e-12bb-41ba-b {
  background-image: url(../img/0e204e8e-12bb-41ba-b4fa-2e96ec188fda-1708327738476-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.overlay-1 {
  background-color: var(--cornflower-blue);
  width: 30.08px;
}

.b28aff1d-fa5e-4b30-8 {
  background-image: url(../img/b28aff1d-fa5e-4b30-82e5-a422b54d12e2-1694670398868-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.overlay-2 {
  background-color: var(--red-orange-2);
  width: 27.95px;
}

.x1d50e519-06c7-4ccf-b {
  background-image: url(../img/1d50e519-06c7-4ccf-bec8-5469df0fbe22-1708916795143-jpg@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 1;
  height: 154px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.frame-427318988::-webkit-scrollbar {
  display: none;
  width: 0;
}

.group {
  height: 35px;
  position: relative;
  width: 102px;
}

.button-container {
  height: 44px;
  position: relative;
  width: 345px;
}