/* screen - leftsidemain-2 */

.leftsidemain-2 {
  background-color: var(--wwwglowpickcomnero);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 3341px;
  min-width: 360px;
  overflow: hidden;
  width: 100%;
}

.leftsidemain-2 .container-1 {
  display: flex;
  flex-direction: column;
  height: 3254px;
  margin-left: 12.1px;
  margin-top: 0;
  width: 649.94px;
}

.leftsidemain-2 .s1 {
  align-items: flex-start;
  display: flex;
  min-width: 335.6px;
}

.leftsidemain-2 .overlap-group3 {
  height: 499px;
  position: relative;
  width: 336px;
}

.leftsidemain-2 .group-11813 {
  background-image: url(../img/kutti-main-pic@2x.png);
  background-size: 100% 100%;
  height: 459px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 336px;
}

.leftsidemain-2 .page-controls {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 120px;
  padding: 11px 0px;
  position: absolute;
  top: 469px;
}

.leftsidemain-2 .form-1 {
  background-color: var(--shark);
  border-radius: 360px;
  height: 8px;
  position: relative;
  width: 32px;
}

.leftsidemain-2 .form {
  background-color: var(--shark);
  border-radius: 4px;
  height: 8px;
  opacity: 0.38;
  position: relative;
  width: 8px;
}

.leftsidemain-2 .s2 {
  align-items: flex-start;
  display: flex;
  margin-left: 5.9px;
  min-width: 324px;
}

.leftsidemain-2 .overlap-group2 {
  border-radius: 10px;
  height: 93px;
  position: relative;
  width: 324px;
}

.leftsidemain-2 .ellipse-239 {
  left: 219px;
  top: 58px;
}

.leftsidemain-2 .ellipse-241 {
  left: 245px;
  top: 58px;
}

.leftsidemain-2 .rectangle-2862196 {
  background-color: var(--point-color-1);
  border-radius: 10px;
  height: 93px;
  left: 0;
  position: absolute;
  top: 0;
  width: 324px;
}

.leftsidemain-2 .rectangle-2862156 {
  background-color: var(--wwwglowpickcomblack);
  border-radius: 20px;
  height: 12px;
  left: 305px;
  position: absolute;
  top: 58px;
  transform: rotate(-45deg);
  width: 3px;
}

.leftsidemain-2 .rectangle-2862157 {
  background-color: var(--wwwglowpickcomblack);
  border-radius: 20px;
  height: 12px;
  left: 305px;
  position: absolute;
  top: 65px;
  transform: rotate(45deg);
  width: 3px;
}

.leftsidemain-2 .ellipse-238 {
  left: 229px;
  top: 59px;
}

.leftsidemain-2 .ellipse-240 {
  left: 255px;
  top: 58px;
}

.leftsidemain-2 .ellipse-237 {
  left: 265px;
  top: 58px;
}

.leftsidemain-2 .ellipse-236 {
  left: 275px;
  top: 58px;
}

.leftsidemain-2 .s3 {
  align-items: flex-end;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 422.47px;
  margin-left: 3.9px;
  margin-top: 20px;
  min-width: 646px;
}

.leftsidemain-2 .overlap-group1 {
  height: 422px;
  margin-bottom: 0;
  position: relative;
  width: 646px;
}

.leftsidemain-2 .overlap-group-1 {
  background-image: url(../img/20231107-120226-2-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 422px;
  left: 0;
  position: absolute;
  top: 0;
  width: 332px;
}

.leftsidemain-2 .text-1-1 {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 42px;
  left: 79px;
  letter-spacing: -0.60px;
  line-height: 30px;
  position: absolute;
  text-align: right;
  top: 215px;
  width: 239px;
}

.leftsidemain-2 .in-60 {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-s);
  font-weight: 700;
  height: 14px;
  left: 79px;
  letter-spacing: -0.60px;
  line-height: 15px;
  position: absolute;
  text-align: right;
  top: 257px;
  white-space: nowrap;
  width: 239px;
}

.leftsidemain-2 .frame-427319199::-webkit-scrollbar {
  display: none;
  width: 0;
}

.leftsidemain-2 .frame-427319199 {
  display: flex;
  height: 117px;
  left: 6px;
  overflow-x: scroll;
  position: absolute;
  top: 305px;
  width: 360px;
}

.leftsidemain-2 .a2 {
  display: flex;
  height: 117.47px;
  width: 640px;
}

.leftsidemain-2 .frame-427319173 {
  display: flex;
  height: 117.24px;
  width: 320px;
}

.leftsidemain-2 .link {
  align-items: center;
  background-color: var(--wwwglowpickcomnero);
  border-radius: 15px;
  display: flex;
  gap: 27px;
  height: 83px;
  margin-left: 9px;
  margin-top: 17px;
  overflow: hidden;
  width: 284px;
}

.leftsidemain-2 .container {
  background-image: url(../img/image-42@2x.png);
  background-size: 100% 100%;
  border-radius: 8px;
  height: 88px;
  margin-top: 5px;
  width: 88px;
}

.leftsidemain-2 .descriptions {
  display: flex;
  height: 57px;
  width: 137px;
}

.leftsidemain-2 .details {
  display: flex;
  flex: 1;
  height: 65px;
  margin-right: -0.2px;
  margin-top: 44px;
}

.leftsidemain-2 .group-11916 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-right: -11.8px;
  margin-top: -45px;
  min-width: calc(100.00% + 12px);
}

.leftsidemain-2 .overlap-group {
  height: 53px;
  position: relative;
  width: 147px;
}

.leftsidemain-2 .details-1 {
  display: flex;
  height: 40px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 147px;
}

.leftsidemain-2 .text {
  color: #212529;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 42px;
  letter-spacing: 0;
  line-height: 21px;
  width: 147px;
}

.leftsidemain-2 .text-1 {
  color: var(--point-color-1);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 700;
  height: 21px;
  left: 0;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 32px;
  white-space: nowrap;
  width: 79px;
}

.leftsidemain-2 .frame-427319186 {
  display: flex;
  height: 117.24px;
  margin-top: 0.2px;
  width: 320px;
}

.leftsidemain-2 .link-1 {
  align-items: center;
  background-color: var(--wwwglowpickcomnero);
  border-radius: 15px;
  display: flex;
  gap: 27px;
  height: 83px;
  margin-top: 17px;
  overflow: hidden;
  width: 320px;
}

.leftsidemain-2 .s4 {
  height: 422px;
  margin-left: 3.9px;
  margin-top: 21.5px;
  width: 331.85px;
}

.leftsidemain-2 .container-item {
  height: 422px;
  margin-left: 3.9px;
  margin-top: 22px;
  width: 331.85px;
}

.leftsidemain-2 .footer {
  align-self: center;
  height: 55px;
  width: 375px;
}

.leftsidemain-2 .ellipse {
  height: 20px;
  object-fit: cover;
  position: absolute;
  width: 20px;
}

.footer {
  align-items: center;
  background-color: #fff;
  /* border: 1px solid; */
  border-color: var(--seashell);
  display: flex;
  flex-shrink: 1;
  gap: 50px;
  height: 55px;
  justify-content: center;
  padding: 15px 10px 8px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 999;
}

.footer .vector {
  height: 15.79px;
  position: relative;
  width: 14px;
}

.footer .vector-1 {
  height: 16.39px;
  position: relative;
  width: 16.38px;
}

.footer .carbonplay-outline {
  height: 30px;
  position: relative;
  width: 30px;
}

.footer .vector-2 {
  height: 18px;
  position: relative;
  width: 14px;
}

.footer .vector-3 {
  height: 15px;
  position: relative;
  width: 14px;
}