:root { 
  --point-color-1: #fb5315;
  --shark: #252f2c;
  --wwwglowpickcomblack: #000000;
  --wwwglowpickcomnero: #ffffff;
 
  --font-size-l: 14px;
  --font-size-m: 13.6px;
  --font-size-s: 12px;
  --font-size-xl: 25px;
 
  --font-family-noto_sans: "Noto Sans", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
