/* screen - u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 */

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 1755px;
  overflow: hidden;
  width: 360px;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .image-26 {
  cursor: pointer;
  height: 219px;
  margin-top: 26px;
  object-fit: cover;
  width: 310px;
  z-index: 1;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .image-28 {
  align-self: flex-start;
  height: 104px;
  margin-top: 19px;
  object-fit: cover;
  width: 370px;
  z-index: 2;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .image-29 {
  align-self: flex-start;
  height: 104px;
  object-fit: cover;
  width: 370px;
  z-index: 3;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .image-30 {
  align-self: flex-start;
  height: 104px;
  object-fit: cover;
  width: 370px;
  z-index: 4;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .overlap-group2 {
  height: 145px;
  margin-right: 4.0px;
  margin-top: 6px;
  position: relative;
  width: 364px;
  z-index: 7;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .rectangle-2862232 {
  background-color: var(--alto-2);
  height: 121px;
  left: 4px;
  position: absolute;
  top: 21px;
  width: 360px;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 5px;
  display: flex;
  height: 47px;
  justify-content: flex-end;
  left: 24px;
  min-width: 310px;
  padding: 12px 97px;
  position: absolute;
  top: 0;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .text-31 {
  white-space: nowrap;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .text-319 {
  left: 0;
  position: absolute;
  text-align: center;
  top: 52px;
  width: 300px;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .text-320 {
  left: 0;
  position: absolute;
  text-align: center;
  top: 85px;
  width: 300px;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .text-321 {
  left: 0;
  position: absolute;
  text-align: center;
  top: 118px;
  width: 300px;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .rectangle-2862233 {
  background-color: var(--black);
  height: 21px;
  left: 293px;
  position: absolute;
  top: 82px;
  width: 22px;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .rectangle-2862234 {
  background-color: var(--black);
  height: 21px;
  left: 293px;
  position: absolute;
  top: 119px;
  width: 22px;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .rectangle-2862235 {
  background-color: var(--black);
  height: 21px;
  left: 293px;
  position: absolute;
  top: 53px;
  width: 22px;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .image-31 {
  height: 263px;
  margin-top: 8px;
  object-fit: cover;
  width: 310px;
  z-index: 5;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .view {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--seashell);
  display: flex;
  gap: 50px;
  height: 55px;
  justify-content: center;
  left: 0;
  padding: 15px 10px 8px;
  position: fixed;
  top: 747px;
  width: 360px;
  z-index: 9;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .vector {
  height: 15.79px;
  position: relative;
  width: 14px;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .vector-1 {
  height: 16.39px;
  position: relative;
  width: 16.38px;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .vector-2 {
  cursor: pointer;
  height: 18px;
  position: relative;
  width: 14px;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .vector-3 {
  cursor: pointer;
  height: 15px;
  position: relative;
  width: 14px;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .group-11873 {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  margin-top: 11px;
  min-width: 312px;
  z-index: 6;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 5px;
  display: flex;
  height: 47px;
  justify-content: flex-end;
  min-width: 310px;
  padding: 12px 83px;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .image-32 {
  height: 682px;
  margin-left: 9.0px;
  margin-top: 19px;
  object-fit: cover;
  width: 307px;
  z-index: 8;
}

.u4352u4455u4527u4364u4454u4369u4454u4363u4469u4364u4469-1 .text {
  letter-spacing: 0;
  line-height: 22px;
}
