/* screen - u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 */

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1010px;
  overflow: hidden;
  width: 360px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .header {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  gap: 73px;
  height: 56px;
  justify-content: flex-start;
  min-width: 360px;
  padding: 0 6px;
  width: auto;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .button {
  cursor: pointer;
  height: 44px;
  width: 44px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-316 {
  color: #3d4149;
  font-family: var(--font-family-inter);
  font-size: 15.9px;
  font-weight: 700;
  height: 28px;
  letter-spacing: -0.20px;
  line-height: 28px;
  margin-bottom: 4.0px;
  white-space: nowrap;
  width: 99px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .frame-427319138 {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-right: 2.0px;
  padding: 0px 20px;
  position: relative;
  width: 360px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-315 {
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .view-container {
  gap: 9px;
  margin-right: 5.0px;
  margin-top: 30px;
  min-width: 327px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .view {
  background-color: #f3f2f2;
  border-radius: 5px;
  flex-direction: column;
  gap: 4px;
  height: 56px;
  overflow: hidden;
  padding: 5px 3px;
  width: 146px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-307 {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 16.0px;
  white-space: nowrap;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-308 {
  align-self: flex-end;
  color: #010101;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: -2px;
  min-height: 20px;
  text-align: right;
  white-space: nowrap;
  width: 131px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .view-1 {
  background-color: #f3f2f2;
  border-radius: 5px;
  flex-direction: column;
  gap: 10px;
  height: 56px;
  overflow: hidden;
  padding: 1px 8px;
  width: 172px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .flex-row {
  align-items: center;
  display: flex;
  gap: 6px;
  height: 22px;
  margin-left: 3px;
  margin-top: 2px;
  min-width: 46px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .frame-427319044 {
  height: 14px;
  margin-top: 2.0px;
  width: 14px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-309 {
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
  width: 26px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-310 {
  align-self: flex-end;
  color: #010101;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: -2px;
  min-height: 20px;
  text-align: right;
  white-space: nowrap;
  width: 133px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .flex-row-1 {
  align-items: flex-end;
  display: flex;
  height: 73px;
  margin-right: 5.0px;
  margin-top: 27px;
  min-width: 314px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 73px;
  width: 56px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-301 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  margin-right: -11.5px;
  margin-top: -1px;
  min-height: 20px;
  white-space: nowrap;
  width: 60px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .frame-427319144 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: -2px;
  min-height: 40px;
  width: 56px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .number-1 {
  margin-right: -4px;
  margin-top: -1px;
  min-height: 20px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-302 {
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: -2px;
  min-height: 20px;
  white-space: nowrap;
  width: 48px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .frame-427319145 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: -2px;
  margin-left: 25px;
  min-height: 40px;
  width: 60px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .number {
  margin-top: -1px;
  min-height: 20px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-303 {
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: -2px;
  min-height: 20px;
  text-align: center;
  white-space: nowrap;
  width: 40px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .frame-427319146 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: -2px;
  margin-left: 25px;
  min-height: 40px;
  width: 63px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-304 {
  letter-spacing: 0;
  line-height: 22px;
  margin-bottom: -2px;
  margin-left: -2.5px;
  min-height: 20px;
  white-space: nowrap;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .overlap-group {
  height: 38px;
  margin-bottom: 2px;
  margin-left: 26px;
  position: relative;
  width: 60px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .number-2 {
  left: 0;
  position: absolute;
  top: 0;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-305 {
  left: 15px;
  letter-spacing: -1.10px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 29px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3.0px;
  margin-top: 30px;
  min-height: 695px;
  width: 363px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .overlap-group1 {
  height: 75px;
  position: relative;
  width: 363px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .rectangle-3409 {
  background-color: var(--alto-2);
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 363px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-306 {
  left: 169px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 29px;
  white-space: nowrap;
  width: 21px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-container {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 222px;
  height: 24px;
  margin-right: 4.0px;
  margin-top: 70px;
  min-width: 299px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-298 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 22px;
  min-width: 63px;
  white-space: nowrap;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-29 {
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-289 {
  color: #a29e9e;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 35px;
  margin-top: 25px;
  white-space: nowrap;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-293 {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 34px;
  margin-top: 14px;
  white-space: nowrap;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-294 {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 35px;
  margin-top: 14px;
  white-space: nowrap;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-container-1 {
  align-self: center;
  gap: 235px;
  height: 23px;
  margin-right: 1.0px;
  margin-top: 40px;
  min-width: 296px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 22px;
  min-width: 47px;
  white-space: nowrap;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-295 {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 33px;
  margin-top: 25px;
  width: 165px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-297 {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 35px;
  margin-top: 12px;
  width: 165px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-container-2 {
  align-self: center;
  gap: 235px;
  height: 23px;
  margin-left: 3.0px;
  margin-top: 25px;
  min-width: 296px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-296 {
  letter-spacing: 0;
  line-height: 22px;
  margin-left: 35px;
  margin-top: 25px;
  width: 165px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-container-3 {
  gap: 79px;
  height: 22px;
  margin-left: 23px;
  margin-top: 45px;
  min-width: 212px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-311 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  min-width: 74px;
  white-space: nowrap;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-288 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .frame-427319157 {
  align-items: center;
  display: flex;
  gap: 49px;
  justify-content: center;
  margin-top: 48px;
  padding: 0px 20px;
  position: relative;
  width: 360px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .frame-427319154 {
  height: 53px;
  position: relative;
  width: 48px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-31 {
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .frame-427319153 {
  height: 24px;
  left: 11px;
  position: absolute;
  top: 0;
  width: 24px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .frame-427319155 {
  height: 52px;
  position: relative;
  width: 79px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-313 {
  left: 0;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 29px;
  white-space: nowrap;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .frame-42731915 {
  height: 24px;
  left: 24px;
  position: absolute;
  top: 0;
  width: 24px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .frame-427319156 {
  height: 53px;
  position: relative;
  width: 72px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .number-3 {
  letter-spacing: 0;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  width: 60px;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .text-container-4 {
  align-items: flex-start;
  display: flex;
}

.u4358u4449u4363u4469u4369u4454u4363u4469u4364u4469 .view-2 {
  align-items: flex-start;
  display: flex;
}
