/* screen - u4359u4467u4357u4450u4523u4355u4467u4369u4454u4363u4469u4364u4469 */

.u4359u4467u4357u4450u4523u4355u4467u4369u4454u4363u4469u4364u4469 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 6046px;
  overflow: hidden;
  width: 360px;
}

.u4359u4467u4357u4450u4523u4355u4467u4369u4454u4363u4469u4364u4469 .heading-2 {
  align-items: center;
  display: flex;
  gap: 2848px;
  height: 1296px;
  margin-top: -1296px;
  overflow: hidden;
  width: 360px;
}

.u4359u4467u4357u4450u4523u4355u4467u4369u4454u4363u4469u4364u4469 .x1 {
  align-self: flex-end;
  height: 37px;
  margin-bottom: -2247px;
  margin-left: -2647px;
  width: 104px;
}

.u4359u4467u4357u4450u4523u4355u4467u4369u4454u4363u4469u4364u4469 .button {
  align-items: flex-start;
  display: flex;
  gap: 2948px;
  height: 48px;
  min-width: 48px;
}

.u4359u4467u4357u4450u4523u4355u4467u4369u4454u4363u4469u4364u4469 .svg {
  align-self: flex-end;
  height: 24px;
  margin-bottom: -2240px;
  margin-left: -2940px;
  width: 24px;
}

.u4359u4467u4357u4450u4523u4355u4467u4369u4454u4363u4469u4364u4469 .background {
  background-color: #dd3b3b;
  border-radius: 8px;
  height: 8px;
  margin-top: 8px;
  width: 8px;
}

.u4359u4467u4357u4450u4523u4355u4467u4369u4454u4363u4469u4364u4469 .main {
  align-items: flex-start;
  display: flex;
  height: 7997px;
  min-width: 360px;
}

.u4359u4467u4357u4450u4523u4355u4467u4369u4454u4363u4469u4364u4469 .section {
  height: 6046px;
  object-fit: cover;
  width: 360px;
}
