/* screen - u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 */

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 2203px;
  overflow: hidden;
  width: 360px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-427318953 {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: var(--black-2);
  display: flex;
  gap: 250px;
  height: 76px;
  justify-content: center;
  padding: 10px 16px;
  position: relative;
  width: 360px;
  z-index: 1;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-63 {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .basilmenu-outline {
  height: 24px;
  position: relative;
  width: 24px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-427318988 {
  align-items: flex-start;
  display: inline-flex;
  gap: 7px;
  margin-right: -263px;
  margin-top: 51px;
  position: relative;
  z-index: 2;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .group {
  height: 35px;
  position: relative;
  width: 102px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .overlap-group {
  align-items: flex-end;
  background-color: var(--burning-orange);
  height: 35px;
  min-width: 100px;
  padding: 5.4px 19.4px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-6 {
  height: 24px;
  width: 48px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--silver);
  height: 35px;
  justify-content: flex-end;
  min-width: 100px;
  padding: 4.4px 5.7px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-65 {
  height: 24px;
  width: 81px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .overlap-group2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--silver);
  height: 35px;
  min-width: 100px;
  padding: 4.4px 15.8px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .overlap-group3 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--silver);
  height: 35px;
  justify-content: flex-end;
  min-width: 100px;
  padding: 4.4px 25.2px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .overlap-group4 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--silver);
  height: 35px;
  justify-content: flex-end;
  min-width: 100px;
  padding: 4.4px 33.3px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-68 {
  height: 24px;
  width: 32px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .overlap-group5 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--silver);
  height: 26px;
  min-width: 62px;
  padding: 3px 15px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-69 {
  height: 18px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-427319019 {
  align-items: flex-end;
  align-self: center;
  display: inline-flex;
  flex-direction: column;
  gap: 27px;
  margin-left: 8.0px;
  margin-top: 19px;
  padding: 20px 0px 0px;
  position: relative;
  z-index: 3;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-427319013 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-42731901 {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-427319010 {
  background-color: var(--alto-2);
  border-radius: 5px;
  height: 150px;
  position: relative;
  width: 150px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-427319009 {
  align-items: flex-end;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 15px 3px;
  position: relative;
  width: 157px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-427319003 {
  height: 18px;
  position: relative;
  width: 49px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-70 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-427319004 {
  height: 18px;
  position: relative;
  width: 93px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa {
  height: 18px;
  left: 0;
  letter-spacing: -0.39px;
  line-height: 18px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-427319005 {
  height: 18px;
  position: relative;
  width: 143px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-1 {
  width: 143px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-427319006 {
  height: 18px;
  position: relative;
  width: 26px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-71 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-427319007 {
  height: 18px;
  position: relative;
  width: 62px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-72 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .span {
  letter-spacing: -0.05px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-427319008 {
  height: 19.2px;
  margin-bottom: -0.60px;
  position: relative;
  width: 19.2px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-73 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-2 {
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-3 {
  width: 143px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-74 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-75 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .vector {
  height: 14px;
  position: relative;
  width: 20px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-42731901-1 {
  align-items: flex-start;
  cursor: pointer;
  gap: 12px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-42731901-2 {
  align-items: center;
  flex-direction: column;
  gap: 6px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-76 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-4 {
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-5 {
  width: 143px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-77 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-78 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .simple-iconsnaver {
  height: 19px;
  position: relative;
  width: 19px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-79 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-6 {
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-7 {
  width: 143px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-80 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-81 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .iconoirtiktok {
  height: 24px;
  position: relative;
  width: 24px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-82 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-8 {
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-9 {
  width: 143px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-83 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-84 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-85 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-10 {
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-11 {
  width: 143px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-86 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-87 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-88 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-12 {
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-13 {
  width: 143px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-89 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-90 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-91 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-14 {
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-15 {
  width: 143px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-92 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-93 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-94 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-16 {
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-17 {
  width: 143px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .span1 {
  color: var(--mountain-mist-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: -0.05px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-95 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-96 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-97 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-18 {
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-19 {
  width: 143px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-98 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-99 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-100 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-20 {
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-21 {
  width: 143px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-101 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-102 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-103 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-22 {
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-23 {
  width: 143px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-104 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text-105 {
  height: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .view {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--seashell);
  display: flex;
  gap: 50px;
  height: 55px;
  justify-content: center;
  left: 0;
  padding: 15px 10px 8px;
  position: fixed;
  top: 747px;
  width: 360px;
  z-index: 4;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .vector-1 {
  height: 15.79px;
  position: relative;
  width: 14px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .vector-2 {
  height: 16.39px;
  position: relative;
  width: 16.38px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .vector-3 {
  cursor: pointer;
  height: 18px;
  position: relative;
  width: 14px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .vector-4 {
  cursor: pointer;
  height: 15px;
  position: relative;
  width: 14px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-427319008-3 {
  height: 19.2px;
  margin-bottom: -0.60px;
  position: relative;
  width: 19.2px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .frame-42731901-3 {
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .overlap {
  border-radius: 90px;
  display: flex;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .text {
  letter-spacing: -0.39px;
  line-height: 18px;
}

.u4366u4454u4370u4453u4535u4355u4449u4523-u4369u4454u4363u4469u4364u4469-1 .wa-24 {
  height: 18px;
  left: 0;
  letter-spacing: -0.39px;
  line-height: 18px;
  position: absolute;
  top: -1px;
}
