/* screen - u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 */

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1253px;
  overflow: hidden;
  width: 360px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .heading-2 {
  align-items: center;
  display: flex;
  gap: 213px;
  height: 56px;
  padding: 9px 0;
  width: 360px;
  z-index: 5;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .x1 {
  align-self: flex-end;
  cursor: pointer;
  height: 37px;
  width: 104px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .overlap-group {
  height: 28px;
  margin-bottom: 4.0px;
  position: relative;
  width: 28px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .svg {
  height: 24px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 24px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .background {
  background-color: #dd3b3b;
  border-radius: 8px;
  height: 8px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 8px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .frame-427318950 {
  gap: 9px;
  height: 40px;
  margin-top: 40px;
  min-width: 341px;
  z-index: 3;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .text-266 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 1px;
  min-height: 34px;
  width: 21px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .link-button {
  align-items: center;
  background-color: #fafafa;
  border: 1px solid;
  border-color: var(--wild-sand);
  border-radius: 10px;
  display: flex;
  height: 36px;
  padding: 9px 268.11px 9px 37px;
  position: relative;
  width: 311px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .svg-1 {
  height: 20px;
  left: 13px;
  position: absolute;
  top: 9px;
  width: 20px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .text-267 {
  color: var(--abbey);
  font-family: var(--font-family-inter);
  font-size: 12.7px;
  font-weight: 400;
  letter-spacing: -0.39px;
  line-height: 18px;
  margin-right: -112.11px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .frame-427319069 {
  height: 22px;
  margin-left: 20px;
  margin-top: 31px;
  min-width: 275px;
  z-index: 1;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .text-265 {
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1px;
  width: 275px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .frame-427318988 {
  align-self: flex-end;
  gap: 7px;
  height: 27px;
  margin-right: -111px;
  margin-top: 18px;
  position: relative;
  width: 451px;
  z-index: 4;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .group {
  height: 35px;
  margin-bottom: -8.00px;
  position: relative;
  width: 102px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--burning-orange);
  border-radius: 10px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  min-width: 100px;
  padding: 5.4px 9.7px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .text-268 {
  cursor: pointer;
  height: 24px;
  letter-spacing: -0.39px;
  line-height: 18px;
  width: 81px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .overlap-group1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--silver);
  border-radius: 10px;
  display: flex;
  height: 35px;
  min-width: 100px;
  padding: 4.4px 13.9px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .text-2 {
  height: 24px;
  letter-spacing: -0.39px;
  line-height: 18px;
  width: 32px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .overlap-group2 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--silver);
  border-radius: 10px;
  display: flex;
  height: 35px;
  min-width: 100px;
  padding: 4.4px 16.7px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .text-270 {
  height: 24px;
  letter-spacing: -0.39px;
  line-height: 18px;
  width: 65px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .overlap-group3 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--silver);
  border-radius: 10px;
  display: flex;
  height: 35px;
  min-width: 100px;
  padding: 4.4px 32.9px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .frame-427319068 {
  align-self: center;
  gap: 10px;
  height: 836px;
  margin-right: 4.0px;
  margin-top: 29px;
  min-width: 316px;
  z-index: 2;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .x-____yzjworgn_-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 836px;
  width: 153px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .x2024-1-18_20_28_18_yz6-jwor-gn4_300-4 {
  height: 158px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .x2024-1-18_20_28_18_yz6-jwor-gn4_300-6 {
  height: 107px;
  margin-left: 2px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .x2024-1-18_20_28_18_yz6-jwor-gn4_300 {
  height: 205px;
  margin-left: 2px;
  object-fit: cover;
  width: 149px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .x2024-1-18_20_28_18_yz6-jwor-gn4_300-10 {
  height: 107px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .x2024-1-18_20_28_18_yz6-jwor-gn4_300-12 {
  height: 211px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .x-____yzjworgn_-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 771px;
  width: 153px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .x2024-1-18_20_28_18_yz6-jwor-gn4_300-8 {
  height: 158px;
  margin-left: 2px;
  margin-top: 11px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .x2024-1-18_20_28_18_yz6-jwor-gn4_300-9 {
  height: 211px;
  margin-left: 2px;
  margin-top: 11px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .x2024-1-18_20_28_18_yz6-jwor-gn4_300-11 {
  height: 158px;
  margin-top: 17px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .view {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--seashell);
  display: flex;
  gap: 50px;
  height: 55px;
  justify-content: center;
  left: 0;
  padding: 15px 10px 8px;
  position: fixed;
  top: 747px;
  width: 360px;
  z-index: 6;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .vector {
  height: 15.79px;
  position: relative;
  width: 14px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .vector-1 {
  height: 16.39px;
  position: relative;
  width: 16.38px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .vector-2 {
  cursor: pointer;
  height: 18px;
  position: relative;
  width: 14px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .vector-3 {
  cursor: pointer;
  height: 15px;
  position: relative;
  width: 14px;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .frame {
  align-items: flex-start;
  display: flex;
}

.u4361u4467u4368u4449u4363u4469u4527u4359u4462u4520 .x2024-1-18_20_28_18_yz6-jwor-gn4_300-1 {
  object-fit: cover;
  width: 151px;
}
