body {
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  
  .header {
    flex-shrink: 0;
    border: 1px solid black;
  }
  
  .scrollable-content {
    flex-grow: 1;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* margin-top: 10px; 스크롤 마진 */
    -webkit-overflow-scrolling: touch; /* iOS에서 부드러운 스크롤 */
  }
  
  .snap-item {
    scroll-snap-align: start;
    height: 600px; /* 각 요소가 전체 화면을 차지하도록 설정 */
    /* 다른 스타일들 */
    border: 1px solid black;
  }