:root { 
  --abbey: #495057;
  --alabaster: #fafaf9;
  --alto: #d9d9dc;
  --badgebackground1: #fb53151a;
  --black: #00000060;
  --black-2: #020202;
  --black-3: #00000099;
  --black-4: #0000004c;
  --content-color: #888888;
  --crusta: #f27935;
  --cultured-pearl: #f5f5f5;
  --fuscous-gray: #555555;
  --granite-gray: #666666;
  --gravel: #444447;
  --licorice: #1111114c;
  --licorice-2: #11111133;
  --mine-shaft: #33333399;
  --mountain-mist: #969595;
  --persimmon: #ff695b;
  --point-color-1: #fb5315;
  --purple-heart: #5e2bb8;
  --rolling-stone: #747c85;
  --shady-lady: #aaaaaa;
  --shark: #212529;
  --shark-2: #292927;
  --title-color: #111111;
  --white: #ffffff01;
  --white-2: #ffffff80;
  --wild-sand: #f2f4f6;
  --wild-sand-2: #f3f3f3;
  --wild-sand-3: #f4f4f4;
  --wwwglowpickcomamaranth: #eb3d48;
  --wwwglowpickcomblack: #000000;
  --wwwglowpickcombridesmaid: #fdeced;
  --wwwglowpickcomgray: #8b8b8b;
  --wwwglowpickcomnero: #ffffff;
  --wwwglowpickcomsilver: #c4c4c4;
  --wwwglowpickcomwhisper: #f6f7fa;
 
  --font-size-l: 13.6px;
  --font-size-m: 13.3px;
  --font-size-s: 12px;
  --font-size-xl: 14px;
  --font-size-xs: 11.6px;
  --font-size-xxl: 14.1px;
  --font-size-xxs: 9.4px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-noto_sans_kr: "Noto Sans KR", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.inter-normal-white-11px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-black-16px {
  color: var(--wwwglowpickcomblack);
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-abbey-14px {
  color: var(--abbey);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.roboto-medium-abbey-9-4px {
  color: var(--abbey);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
}

.roboto-medium-rolling-stone-9-4px {
  color: var(--rolling-stone);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
}

.inter-bold-white-11px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-granite-gray-10-7px {
  color: var(--granite-gray);
  font-family: var(--font-family-inter);
  font-size: 10.7px;
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-licorice-12px {
  color: var(--title-color);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-licorice-9px {
  color: var(--title-color);
  font-family: var(--font-family-roboto);
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
}

.roboto-normal-white-13-3px {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-normal-white-13-3px-2 {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-persimmon-13-3px {
  color: var(--persimmon);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-white-13-3px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-shady-lady-13-3px {
  color: var(--shady-lady);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-11-2px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 11.2px;
  font-style: normal;
  font-weight: 700;
}

.inter-medium-black-12px {
  color: var(--black-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-licorice-12-1px {
  color: var(--title-color);
  font-family: var(--font-family-inter);
  font-size: 12.1px;
  font-style: normal;
  font-weight: 600;
}

.inter-normal-fuscous-gray-11-8px {
  color: var(--fuscous-gray);
  font-family: var(--font-family-inter);
  font-size: 11.8px;
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-shark-17-6px {
  color: var(--shark-2);
  font-family: var(--font-family-roboto);
  font-size: 17.6px;
  font-style: normal;
  font-weight: 700;
}

.inter-normal-licorice-11-7px {
  color: var(--title-color);
  font-family: var(--font-family-inter);
  font-size: 11.7px;
  font-style: normal;
  font-weight: 400;
}

.inter-normal-licorice-12px {
  color: var(--title-color);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-suva-gray-11-6px {
  color: var(--content-color);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.roboto-medium-international-orange-10px {
  color: var(--point-color-1);
  font-family: var(--font-family-roboto);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}

.inter-bold-white-9-5px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 9.5px;
  font-style: normal;
  font-weight: 700;
}

.inter-bold-white-26-9px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 26.9px;
  font-style: normal;
  font-weight: 700;
}

.inter-semi-bold-white-11-1px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 11.1px;
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-licorice-14-1px {
  color: var(--title-color);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.roboto-normal-shark-13-6px {
  color: var(--shark);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-international-orange-14px {
  color: var(--point-color-1);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.roboto-normal-shark-13-3px {
  color: var(--shark);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-white-22px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}

.inter-normal-white-13-8px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 13.8px;
  font-style: normal;
  font-weight: 400;
}

.inter-bold-white-12px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.inter-semi-bold-licorice-14-9px {
  color: var(--title-color);
  font-family: var(--font-family-inter);
  font-size: 14.9px;
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-licorice-16-9px {
  color: var(--title-color);
  font-family: var(--font-family-inter);
  font-size: 16.9px;
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-gravel-12px {
  color: var(--gravel);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.inter-normal-white-14-1px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-granite-gray-12-2px {
  color: var(--granite-gray);
  font-family: var(--font-family-inter);
  font-size: 12.2px;
  font-style: normal;
  font-weight: 400;
}

.inter-normal-fuscous-gray-11-6px {
  color: var(--fuscous-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-licorice-12-3px {
  color: var(--title-color);
  font-family: var(--font-family-inter);
  font-size: 12.3px;
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-white-9-1px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 9.1px;
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-suva-gray-11-2px {
  color: var(--content-color);
  font-family: var(--font-family-inter);
  font-size: 11.2px;
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-white-8-9px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 8.9px;
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-suva-gray-11-1px {
  color: var(--content-color);
  font-family: var(--font-family-inter);
  font-size: 11.1px;
  font-style: normal;
  font-weight: 600;
}

.roboto-medium-white-11px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-roboto);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
}

.notosanskr-light-salmon-pearl-13px {
  color: var(--wwwglowpickcomamaranth);
  font-family: var(--font-family-noto_sans_kr);
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
}

.notosanskr-light-stack-12px {
  color: var(--wwwglowpickcomgray);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
}

.notosanskr-medium-black-14px {
  color: var(--wwwglowpickcomblack);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.inter-normal-white-11-2px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 11.2px;
  font-style: normal;
  font-weight: 400;
}

.inter-normal-white-7-5px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 7.5px;
  font-style: normal;
  font-weight: 400;
}

.inter-bold-white-10-3px {
  color: var(--wwwglowpickcomnero);
  font-family: var(--font-family-inter);
  font-size: 10.3px;
  font-style: normal;
  font-weight: 700;
}

.inter-normal-suva-gray-13-1px {
  color: var(--content-color);
  font-family: var(--font-family-inter);
  font-size: 13.1px;
  font-style: normal;
  font-weight: 400;
}

.inter-normal-shady-lady-14-9px {
  color: var(--shady-lady);
  font-family: var(--font-family-inter);
  font-size: 14.9px;
  font-style: normal;
  font-weight: 400;
}

.inter-bold-licorice-16px {
  color: var(--title-color);
  font-family: var(--font-family-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-international-orange-13-8px {
  color: var(--point-color-1);
  font-family: var(--font-family-roboto);
  font-size: 13.8px;
  font-style: normal;
  font-weight: 700;
}

.roboto-bold-international-orange-13-6px {
  color: var(--point-color-1);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.roboto-normal-shark-13-5px {
  color: var(--shark);
  font-family: var(--font-family-roboto);
  font-size: 13.5px;
  font-style: normal;
  font-weight: 400;
}

.roboto-bold-international-orange-13-9px {
  color: var(--point-color-1);
  font-family: var(--font-family-roboto);
  font-size: 13.9px;
  font-style: normal;
  font-weight: 700;
}
